[2016-03-19 14:46] haf commented on #410
I'm digging into this issue... The problem if we just fail the web part if next() is called is that you can't have middleware call into an Owin app properly.

It would not be able to apply its changes. Instead, we need to let the API separate the middleware from the app, because that's how Owin is built.

[2016-03-19 14:55] ademar commented on #410
This is an interesting problem.  So we will need two combinators, for the different behaviour, is that what you mean ?

[2016-03-19 15:01] haf commented on #410
Mid functions:

 - either mutate and call next
 - or mutate and return a new task and don't call next

App functions:

 - mutate

Mid funcs like auth should be able to cancel evaluation by not calling next.

In this case `OwinMid.ofFunc auth >=> OK "Authenticated"`, the mid func has no way of changing control flow. This is a problem.

`OwinMid.ofFunc auth (OK "authed")` would have its `next` be th

[2016-03-21 16:13] panesofglass commented on #410
@haf the `around` appears to fail to handle the 403 case correctly, but perhaps I don't fully understand what `around` is trying to do. In general, a `MidFunc` may call next and pass control or complete the request. I don't think `around` or `control` fully represent this scenario. An `AppFunc` should always complete:

The challenge is that, in keeping with Katana's soft-404 fallthrough, many `Mid

[2016-03-22 12:57] theburningmonk opened #411 "is Composing.md out of date?"
I was going through the doc with a colleague to show him how Suave works, and on the 'Composing bigger programs : combinators' page, some of the examples don't work anymore:
- `HttpRequest.query` is type `(string * string option) list` and I'm getting an error saying `(string * string option) list, string' doesn't support the`^^` operator
- I can't find the `Option.ofChoice` utils function anywher

[2016-03-22 14:23] haf commented on #410
@panesofglass "may pass control or complete the request" -> aren't they supposed to be chainable? If we abort their chain anytime they call next, then can you really use middleware that only mutates state with suave?

[2016-03-22 18:27] JohnDoeKyrgyz commented on #331
I have a prototype of this working. I created an application called Suave.ActiveServer that can be run from the command line to continuously build and serve an application under development. My implementation can be found here: [https://github.com/JohnDoeKyrgyz/suave/commit/10a728251349ca2684fdc1c7a140d235fed8a945]

This is just a prototype so far. I would be interested in some code review / feedb

[2016-03-22 20:31] haf commented on #331
@JohnDoeKyrgyz Nice :) Give me a couple of evenings and I'll do a review of it!

[2016-03-23 01:35] ademar commented on #411
Hi Yan.

Yes, the documentation is inaccurate; I think we lost some operators (those in particular) in the last release.

We should bring then back in the v2.0 release together with a more robust foundation.

[2016-03-23 08:29] tforkmann opened #412 "Copy of html files in bin folder"
Hi there,

right now I'm trying to set up our intranet on a productive system.
After building the webpage with `build.cmd` in my developing system I copy the bin folder to the productive system.

Afterwards I'm using Topshelve to install the suave webserver as a windows service on the productive system. Like this:
`Run WebSite.Service.exe install (in admin mode)`

@forki 's https://github.com/fork

[2016-03-23 09:27] tforkmann commented on #402
Thanks going to try this out!

[2016-03-23 12:07] ademar commented on #412
Yes.

In Visual Studio, in the solution explorer right click on the file, go to Properties and set Copy to Output Directory to "Copy if Newer"

[2016-03-23 12:12] forki commented on #412
But wouldn't it be better to have it compiled into the service?

[2016-03-23 12:14] ademar commented on #412
@forki  Do not know; that is not what he asked.

[2016-03-23 12:18] forki commented on #412
I know that tim asked it differently. Your proposed solution will most probably work - but having a single exe for the service would still be beneficial.

[2016-03-23 12:30] ademar commented on #412
OK cool then he can use the combinators from Suave.Embedded and set build action for the html files to Embedded resource.

[2016-03-23 12:59] tforkmann commented on #412
Thanks,

do you have an example where you used the combinators from Suave.Embedded?

[2016-03-23 14:36] ademar commented on #412
Sorry, not much in form of example. They follow the same pattern that the ones in Suave.Files

https://github.com/SuaveIO/suave/blob/master/src/Suave/Combinators.fsi#L1401

[2016-03-24 09:18] forki commented on #331
We already have suave live reloading working with a FAKE build around it. See fsreveal

[2016-03-24 10:02] haf commented on #331
I have seen it, a lot of this is fetched from there. But it depends on FAKE and it only works with fsx files not DLLs.

[2016-03-26 15:38] #412 closed

[2016-03-26 15:38] #402 closed

[2016-03-26 15:39] #347 closed

[2016-03-26 15:39] #345 closed

[2016-03-27 14:21] CodEFouR opened #414 "Could not load type 'Suave.Web' from assembly 'MyAssembly'"
Hi,
I've setup my `paket.dependencies` as well `paket.references` and run `paket install` so I guess the reference to Suave is working as I saw my `.fsproj` has the reference tag produced correctly. And I tried
[code]
Then I build the application but it showed me `Could not load type 'Suave.Web' from assembly 'MyAssembly'`.
However if I did the above in the F# Interactive everything was fine and I

[2016-03-27 14:23] ademar commented on #414
I suspect this has nothing to do with Suave.

[2016-03-27 14:25] ademar commented on #414
To not leave you hanging .. could you share your project so we can take a look ?

[2016-03-27 15:01] CodEFouR commented on #414
Thanks for your quick response @ademar and yes your intuition is right, it's not a Suave issue and I got it fixed.

[2016-03-27 15:09] #414 closed

[2016-03-29 22:05] panesofglass commented on #410
@haf you would have to thread the Suave response back through the OWIN middleware chain if the middleware chain was first invoked, yes.

[2016-04-01 19:35] TheAngryByrd opened #419 "Nancy async interop"
Back again :)

Similar to #353 except this time we get the error with async versions of NancyFx routes.

[code]
A possible fix is to make beStoic a socket monad and wrap everything after yielding to middleware.
[code]
[code]

I would submit a PR but I can't get Suave to build, that .net core stuff is silly :).

[2016-04-06 11:23] tforkmann commented on #412
Thank you again.

I used Visual Studio to copy the html files. It worked fine!

[2016-04-08 07:45] haf commented on #394
Strange given that I built those with rake too.

[2016-04-13 02:07] mjr5749 commented on #279
Making some notes as I go through the spec...

Section 3 describes the 3 ways a client/server can establish an HTTP/2 connection:

This uses the HTTP/1.1 Upgrade mechanism to switch from HTTP/1.1 to HTTP/2 mid-connection.  This seems like the most complicated setup from the server perspective because it has to "talk" both HTTP/1.1 and HTTP/2 over the same connection.

The spec requires that HTTP/2

[2016-04-16 23:16] ademar commented on #410
I have submitted some changes on #418 which are relevant to this discussion.

As per the spec the only way to know if a middleware has handled the request is if it has written to the response stream.

[2016-04-21 08:32] JorisM opened #429 "Websocket documentation"
There currently is no real documentation on how to use the websockets feature.

It would be great if there were a small example, including the broadcasting of messages to all clients (i.e. a simple chat).

For reference:
https://github.com/SuaveIO/suave/issues/337

[2016-04-21 12:40] vladkosarev commented on #429
I agree, here's what I used to set up websockets in https://github.com/vladkosarev/PerfBench/blob/master/src/PerfBench/PerfBench.fs
As you can see there's message loop for sending stuff to the socket which gets triggered by a notifyLoop, which in turn listens to events. The rest is the same as in Suave example.
This code still sometimes fails with some race conditions (especially on mono) so it's

[2016-04-22 16:39] haf opened #430 "Suave.DotLiquid – make more testable"
Right now it's not very testable; calling `page` renders to HttpContent. Could be good to expose the `loadTemplateCached` and `renderer` into a function that just renders to string. This function's output could then be passed to the HttpContent record for writing to the browser.

This would make it easier for me to render transactional e-mail and server-side templates with the same code.

Do any o

[2016-05-07 01:46] JohnDoeKyrgyz opened #435 "Request to IdentityServer3 OWIN middleware never completes"
I am trying to embed the IdentityServer3 owin middleware into my suave.io application. When I make a request to any of IdentityServer3's endpoints, I get data, but the request never completes. The browser's loading icon continues to spin.

I have an IdentityServerIntegration project in my fork which demonstrates this problem [https://github.com/JohnDoeKyrgyz/suave/tree/master/examples/IdentityServ

[2016-05-09 10:18] endeavour commented on #435
I'm having a similar issue with Websharper.Suave, I fixed it by doing something like this:

    let after = Suave.Owin.OwinAppFunc(fun e -> System.Threading.Tasks.Task.FromResult 0 :> _)
    let sitelets = Suave.Owin.OwinApp.ofMidFuncWithNext pathBase
    (SiteletMiddleware<_>.AsMidFunc(Options.Create(rootDirectory, binDirectory), app)) after

I think if you don't explictly close the task the resp

[2016-05-09 11:24] haf commented on #435
@JohnDoeKyrgyz Could you please test this with master?

[2016-05-09 13:51] JohnDoeKyrgyz commented on #435
@endeavour, Thanks for the hint. @haf I tried to do what @endeavour is doing, but it did not really work. In my example I am using the AppBuilder class which ends up producing an OwinApp. I have to translate it to an OwinMidFunc to do what @endeavour is doing.

[code]

After some more digging, I think the actual solution is to fix a bug in Owin.fs. The sendHeaders method of the OwinContext is not

[2016-05-09 15:10] ademar commented on #435
I am running your branch and do not see this behaviour ?!

[code]

[2016-05-09 16:18] JohnDoeKyrgyz commented on #435
@ademar Strange. I got a fresh clone of my repo and am still seeing the buggy behavior.

[2016-05-11 14:08] ademar commented on #435
There is another difference between your log and mine; the binding `http://[::1]:8083` vs `http://127.0.0.1:8083`.

I am running on OSX and so I wonder if there is something going on with the way the bindings are calculated here https://github.com/JohnDoeKyrgyz/suave/blob/master/examples/IdentityServerIntegration/IdentityServer.fs#L83

[2016-05-15 10:29] haf opened #437 "LibUV on OS X breaks"
The current master is unfit in the sense that the libuv tcp socket factory stops serving requests after a while.

[code]

[code]

At that point mono cannot be stopped with SIGINT, but only SIGTERM. Stopping `ab` doesn't make a difference; the server is still hung.

[2016-05-17 07:41] theprash opened #438 "Suave.Html: Remove `divAttr` function family?"
Suave.Html currently has function pairs like:

[code]

I think it would be simpler to have one function:

[code]

The first approach seems to come from WebSharper, and the latter is more like [Elm's approach](http://package.elm-lang.org/packages/elm-lang/html/1.0.0/Html).

There's a trade-off here but I think I'd prefer to type/read `[]` when there are no attributes than `Attr` when there are. Alw

[2016-05-18 01:34] danieljsummers commented on #152
I'm giving this one a shot.

[2016-05-18 19:01] haf commented on #152
@danieljsummers Excellent; give a shout if you have any questions!

[2016-05-19 14:16] danieljsummers commented on #152
@haf How is this for the error message?

COOKIE '%s' TOO LARGE! Value length should not exceed 4096 (%d received); consider alternate storage

(where %s is the name of the cookie, and %d is the actual length of the value field)

[2016-05-19 14:55] haf commented on #152
Yes, that's indeed SCREAMING AT THE USER ;) You could also add to the message that this means that the data in the cookie will be corrupted in some browsers.

[2016-05-22 11:13] dustinmoris opened #440 "file "index.html" doesn't find file when running from Docker container"
I noticed that the following code works when I run it from the self hosted console app on Windows, but doesn't when I run it from a Docker container:

[code]

In the Docker container I end up on the failed path here: https://github.com/SuaveIO/suave/blob/a2f6d8683fe63613e08ac80d9e8143a4def9f6fc/src/Suave/Combinators.fs#L437

It works both ways when I use `browseFileHome`.

[2016-05-22 11:36] haf commented on #440
Most likely you have different working directories in docker versus otherwise. Try the `WORKDIR` stanza in your Dockerfile.

This is very unlikely a bug in Suave, I'm afraid. I'm closing until you provide more information, like a repro dockerfile.

[2016-05-22 11:36] #440 closed

[2016-05-22 11:38] #95 closed

[2016-05-22 11:38] #261 closed

[2016-05-22 11:40] dustinmoris commented on #440
I haven't tested it but I think you are right, I didn't set the WORKDIR in my Dockerfile to my app's root folder. Thanks.

[2016-05-23 02:10] danieljsummers commented on #152
Right - I only put the check on the setCookie method.  I just [submitted the PR](https://github.com/SuaveIO/suave/pull/442).

[2016-05-23 03:31] danieljsummers commented on #411
FWIW - ^^ is defined in [Suave.Utils.Collections.fs](https://github.com/SuaveIO/suave/blob/master/src/Suave/Utils/Collections.fs)

[2016-05-24 08:39] enricosada opened #444 "Suave 2.0.0-alpha3 doesnt support netstandard (.NET Core)"
## repro

1. clone https://github.com/SuaveIO/Suave-CoreCLR-sample
2. change Suave version inside project.json from `2.0.0-alpha2` to `2.0.0-alpha3`
3. dotnet restore

## actual

[code]

## expected

restore successful (exit code 0) and after `dotnet run` the suave sample works

## issue

the nuget package is wrong.

correct: https://www.myget.org/F/enrico-ci/api/v2/package/Suave/2.0.0-alpha2

unz

[2016-05-24 12:15] haf commented on #444
I first ran `rake dotnetcli:do_netcorepackage` then `rake nugets` then `rake dotnetcli:merge`. It created a package like the one I published.

[2016-05-24 12:18] enricosada commented on #444
1. rake nugets
2. rake dotnetcli:do_netcorepackage
3. rake dotnetcli:merge

[2016-05-24 12:33] haf commented on #444
Can't we make dotnetcli:merge depend on the two before?

[2016-05-24 12:56] enricosada commented on #444
sure, i'll send a pr.
i'll add `dotnetcli:merge` as deps of `rake appveyor` otherwise if there are two different rake execution, it's gonna rebuild the base package

[2016-05-24 13:04] haf commented on #444
Ok. You could also add `XXXX_quick` without dependencies if you wish. It's useful when trying things out.

[2016-05-25 22:05] enricosada commented on #444
it's ok atm, it's possible to have an `-alpha4` ?

[2016-05-27 09:23] zoren opened #453 "Websocket push and SSL"
I'm having trouble when pushing to websockets through SSL. Pushing to non-SSL works fine. And access to pull resources via SSL works as expected.

The following example extends the echo example to push the current time to the client every second. When I open the insecure websocket I get the time every second as expected. When using the secure websocket I only get one timestamp. Yet the connection

[2016-05-27 12:20] mark4asp opened #454 "Document how to start / stop the server?"
This is coming from one who just followed the suave example on pages 26 - 27 of Expert F# 4.0 by Don Syme et al.  The example describes two webpages and the 2nd just follows on from the first. Examples are instantiated with:
1st: startWebServer defaultConfig (OK html)
2nd: startWebServer defaultConfig (OK fancyText)
Both examples work but it seems one can't switch between examples without closing

[2016-05-27 21:24] haf commented on #454
Hi @mark4asp

You're right, it's not well documented. I'll write something on suave.io. :)

Stopping is done by disposing the cancellation token: https://github.com/SuaveIO/suave/blob/master/src/Suave.Testing/Testing.fs#L84-L88 which is allocated on line 110.

[2016-06-01 02:23] jackmott opened #455 "DotLiquid Option Types"
It looks like currently DotLiquid can't handle option types, if that is correct, and there is interest in adding them let me know, I can take a stab at it.

[2016-06-01 11:49] haf commented on #455
Could you sketch the outcome; what would it look like?

[2016-06-01 16:19] jackmott commented on #455
Good question!  I was thinking it would behave the same as if you had a null field in a C# project, but perhaps that would be counter to idiomatic F# to allow that behavior at all. Thoughts?

Alternatively maybe there would be a way to get a compile time failure if an option type is included in a dot liquid template? Currently you don't find out till runtime.

I will think about it and update here

[2016-06-02 06:20] samritchie commented on #455
I’d expect `None` to be falsy (mapped to `null` or `false`?), and `Some` to be unwrapped, so you can do things like:

    {% if model.maybe_string %}
        {{model.maybe_string}}
    {% endif %}

Otherwise maybe something like `issome`/`isnone`/`value` filters, unsure how well this would work in dotliquid though:

    {% if model.maybe_string | issome %}
        {{model.maybe_string | value}}

[2016-06-03 08:34] halcwb opened #456 "cannot open namespace Suave.Types"
I have added Suave using the following dependencies:

However I cannot open the namespace Suave.Types.

When I try the test case, I have to manually add System.Net.Http and I get errors:

[code]

Suave.Types is not defined, also runWithConfig and byteArrayContent are undefined?

[2016-06-03 10:54] ademar commented on #456
There is no such namespace Suave.Types.

[2016-06-03 11:24] halcwb commented on #456
Thanks, I just went through all of the release notes and discovered this. However, everywhere in the suave docs, the old api is used. Also, when I cloned Suave and tried to build it, (on windows with VS2013), using the build.cmd it fails, also using VS it fails.

[2016-06-03 13:06] ademar opened #457 "Improve How To build notes"
As it is right now is slightly incorrect.

[2016-06-03 13:08] ademar commented on #456
@halcwb yeah the "How to build" section is somewhat incorrect. The only supported/working build procedure involves using the rake script.

I have opened #457 for this matter.

[2016-06-03 13:08] #456 closed

[2016-06-04 12:26] polytypic commented on #360
So, what is the story with performance?
Is async a source of performance issues in Suave?

Obviously I'm biased, but I think that, aside from familiarity, Hopac would be a very good fit for something like Suave.

[2016-06-04 14:16] ademar commented on #360
:)

Difficult to know what's going on here , very low in my radar right now.

I probably won't dedicate much more time to the libuv transport. Last time I checked the pure .net transport was performing better/faster. Marshaling impedance might be negating any performance gains libuv may have.

I don't think performance is a problem right now. Having said that it is totally possible in the future w

[2016-06-04 15:06] ademar commented on #453
The answer to why it does not work is here http://stackoverflow.com/questions/9745249/html5-websocket-with-ssl

Basically you need to change the websocket url to use the ssl channel instead

[code]

[2016-06-04 15:11] #382 closed

[2016-06-04 15:24] haf commented on #382
I'm sorry you're having trouble. Can you create a sample app and in this issue print a list of commands and their outputs when using curl?

[2016-06-04 15:27] zoren commented on #453
No sorry, that's not it. Chrome won't allow connections on non-443 ports, so I have set up port forwarding from 8443 -> 443(should have said so in my post sorry).

I still experience the same issue. Connection succeeds on 443, but I receive only one timestamp, and the connection remains open. On port 80(that i have forwarded to 8080) I receive a stream of timestamps as expected.

[2016-06-04 15:37] zoren commented on #453
I'm using this html file to test the websocket(with the 80 -> 8080 and 8443 -> 443 port forwards mentioned above):

[code]

[2016-06-04 15:59] ademar commented on #453
OK, I have reproduced the issue now. I will spend sometime this afternoon trying to fix it.

[2016-06-04 16:00] zoren commented on #453
Thank you so much! 👍

[2016-06-04 16:29] haf commented on #360
I write all our backend code with Hopac, so for me it makes sense to bring Hopac into Suave in the long run, if that can be done in an orderly fashion which benefits the community.

Right now, people I work with reliably report Hopac to have a high getting-started threshold, so until that has been addressed I would not agree to a full-out change of Suave into Hopac.

The Command-Backend-Events cyc

[2016-06-05 08:53] polytypic commented on #360
I'm all for making Hopac more accessible.

I just spent quite a lot of time reordering, aligning and titling things in the generated [reference manual](http://hopac.github.io/Hopac/Hopac.html) with the intention of making it more accessible.

I've also been working on [improving interop](https://github.com/Hopac/Hopac/pull/100) with other .Net async facilities.  Note that the description doesn't c

[2016-06-05 15:16] ademar commented on #453
I have found the root of the problem which is `SslStream` not supporting multiple readers and writers simultaneously.  I continue working on a solution.

[2016-06-06 13:06] toburger opened #458 "Getting error: Key 'filename' was not present in 'content-disposition'"
A client is calling my suave server with Content-Disposition: form-data and I'm getting the error from above.

The request I receive is the following:
[code]

and it turns out, that the error gets thrown when the Content-Disposition is used in conjunction with Content-Type. If Content-Type is omitted everything works. I wonder if the client isn't following the HTTP specifications or is it a bug in

[2016-06-06 13:27] ademar commented on #458
Suave is expecting a `filename` key in the Content-Disposition header.  It
seems this is not required, so we will need to fix it.

On Mon, Jun 6, 2016 at 9:06 AM, Tobias Burger <notifications@github.com>
wrote:

--
Ademar Gonzalez
+1-647-891-3606
http://ademar.name
https://github.com/ademar

[2016-06-07 02:17] ademar commented on #453
@zoren I've pushed a pre-release nuget v2.0.0-beta4. Can you give it a try ?

[2016-06-07 02:21] ademar commented on #444
@enricosada I've just published `alpha4`.

[2016-06-07 09:25] zoren commented on #453
Thanks @ademar. I'm having trouble installing the package using paket. It reports:
[code]
Apparently only ```1.0.0-alpha-160304,``` is available, am I missing a nuget source(only have https://www.nuget.org/api/v2)?

[2016-06-07 12:47] ademar commented on #453
Hum .. don't know what's going up with paket there, it seems it is referencing the `netcore` assembly.
Standard nuget.exe seems to work fine; at least on Xamarin Studio which is where I tested it.

[2016-06-07 13:00] haf commented on #453
/cc @enricosada

@zoren It's because 1) you don't constrain the paket.dependencies with `framework net45` or whichever is applicable to you, and 2) because it would seem enrico hasn't pushed that build to nuget (could you?)

[2016-06-07 13:09] ademar commented on #453
He is pushing `Microsoft.FSharp.Core.netcore` to myget.org see https://github.com/SuaveIO/Suave-CoreCLR-sample/blob/master/NuGet.Config#L4

[2016-06-07 13:10] haf commented on #453
Yes, I know, I was there when the repo was created ;)... I guess I'm asking whether it's something that will be pushed to the general nuget?

[2016-06-07 13:47] enricosada commented on #444
@ademar @haf :+1:
i tested it on all supported plat (osx/win/docker/ubuntu), and updated the https://github.com/SuaveIO/Suave-CoreCLR-sample repo (docs and code, build is green)

[2016-06-07 13:48] enricosada commented on #444
i'll close because `alpha4` is on nuget.org and work

[2016-06-07 13:48] #444 closed

[2016-06-07 14:06] enricosada commented on #453
@ademar it's not me pushing fsharp.core to myget, that's the the visualfsharp team feed

I think now with preview1 on nuget.org it's a good idea to push a prerelease `FSharp.Core.netcore` version too on nuget.org, we need to ask @KevinRansom about that

Meanwhile like in the sample repo, just add the `nuget.config` file in the same directory, or modify the global nuget config adding the myget feed

[2016-06-07 16:50] zoren commented on #453
Thanks @ademar that fixed it for me! Great work!

Also thanks for helping me out with nuget @haf @enricosada

[2016-06-07 19:02] koistya commented on #299
Where can I learn more about what are the differences between Kestrel and Suave, what are the appropriate use cases for each of these two servers?

[2016-06-07 20:08] #453 closed

[2016-06-07 20:09] haf commented on #299
Well, for once Suave is F# and Kestrel is C#. Suave is maintained by community. Kestrel by MSFT employees. We do PRs, MSFT creates github issues with notes from planning meetings. ;)

Also, Suave lets you use combinators to build responses:

[code]

You can pre-order an intro course here https://fsharp.tv/courses/web-applications/

[2016-06-07 20:10] haf commented on #453
Hurrah at bugfixes :)

[2016-06-08 06:27] buybackoff commented on #299
You say it in such a way that implies that F# is automatically better and MSFT is something bad... The reality is that Kestrel is optimized for performance, while there are many allocations and pure functional data structures in Suave (there was even a PR to replace fast imperative dict with a pure functional slow one just for functional purism and love for FP). OWIN pipe is as convenient as combi

[2016-06-08 12:29] toburger opened #461 "Support for request body compression"
A client can send a `Content-Encoding: gzip` to signal that the body of the request ist compressed.
At the moment this isn't handled by suave.

When a client sends a gzipped body to suave the server doesn't respond.
The RFCs are saying, that if the server doesn't support this header it should respond with a 415 respond (Unsupported Media Type).

I'm no expert regarding HTTP server implementations

[2016-06-08 14:26] ademar commented on #461
Yes, it should be possible to write a combinator that does this.

[code]

That does not work right now because the Compression module is internal; I think we should change that.

[2016-06-08 15:31] toburger commented on #461
It works!
I had the same idea, but somehow it didn't work. Suave got stuck when reading the form body and didn't run to my WebPart.
I was using a test client provided for me to test the api specifications.
After your solution I got curious if maybe the test client is the problem. After writing a test client by myself I noticed that the client program was wrong, not the implementation of suave!

[2016-06-08 15:31] #461 closed

[2016-06-08 21:58] haf commented on #299
@buybackoff Being able to PR and make progress as a community is vastly more important than being optimized for performance. It could be argued that when some people come across a F#-native library that isn't already optimised for performance, they could contribute to it to make the world a better place.

OWIN is not convenient when it's failing with AuthorizationException and crashing your public

[2016-06-08 22:28] isaksky commented on #299
One thing to keep in mind here that makes this a little hard:

-Ben Watson - "Writing High-Performance .NET Code"

I noticed that too. I agree, seems pretty bizarre and bad for the community.

[2016-06-08 23:26] buybackoff commented on #299
@haf  just do not tell me about PRs #452...

And performance IS a (the) feature (saying to InfoQ that is is < 1 msec "on average" is not enough). I wasn't going to argue at all - I am an end user and am just giving some feedback. Suave is very nice and I have learnt a lot just by browsing through the codebase and playing with it. Such a low level of control enables to understand web requests much

[2016-06-09 12:03] GrahamMeintjes commented on #454
Thanks @haf.  I'm just starting with Suave.

That code won't compile because startWebServer returns unit. Line 3 needs the async method used in your Testing.fs:

`let listening, server = startWebServerAsync conf (OK "Hello World")`

[2016-06-09 16:10] #458 closed

[2016-06-09 18:16] haf commented on #454
The task for someone who wants to contribute a bit is to take the docs I just wrote above and send a PR to the docs folder for it.

[2016-06-10 02:14] mvkra opened #463 "Document cleaning up websocket resources"
# Forced disconnects from the websocket connection don't allow cleanup of resources

Using the example located at https://github.com/SuaveIO/suave/issues/307 I'm having issues handling when a client disconnects forcibly (doesn't send a Close message). I want to dispose of resources held by the connection at this point (effectively run the Close logic).

Reproducing it is easy to do: Start an FSI s

[2016-06-11 09:10] supertom44 opened #464 "Serving static files with white space in the name"
Hi,

I've noticed that when using Files.browseHome to serve static files from a directory, if the file has any white space characters in it, the path cannot be resolved.

Here is a simple example:

[code]

I have two files in the directory StaticFiles:

- test.jpg
- test with spaces.jpg

I can access "test.jpg" no problem however when I try to access "test with spaces.jpg" it appears that it is lo

[2016-06-11 18:01] ademar commented on #464
This was fixed a while ago. Which version are you running ?

[2016-06-11 18:05] ademar commented on #464
Sorry, I see this is broken in the 1.x branch.

If you feel adventurous you can give a try to pre release version `v2.0.0-alpha4`

[2016-06-11 18:36] supertom44 commented on #464
Hey,

Thanks for responding, it's not a major issue, I can work around it for the time being by ensuring none of the paths contain white space, until V2 is released.

Cheers.

[2016-06-13 05:48] theimowski opened #466 "Indicate build success: "FsLibTool: Failed to resolve" looks like build failure"
This happens for `:docs:reference` rake task:

[code]

Should this fail the build as well? Looks like currently these failures are ignored

[2016-06-13 06:18] polytypic commented on #466
The `Failed to resolve` just means that the symbol lookup hack of FsLibTool failed to find a definition to link to a symbol.  You can usually ignore those.

[2016-06-13 08:24] theimowski commented on #466
I see, it confused me cause when you see this wall of "fails" at the very end of build output you might think the build itself failed. Anyways I'd suggest to print some indication of build success at the end, so that no more dev gets confused by `Failed to resolve` msgs.

[2016-06-13 09:58] haf commented on #463
@mvkra Thank you for reporting. It's a known limitation right now, so if you're affected by it, we'd be very happy to help you out with code reviewing a PR of your making.

[2016-06-13 23:52] mvkra commented on #463
I thought it may of been my misunderstanding. As a result I came up with a solution that works well but isn't so intuitive for a new user to do (due to the fact that I don't know how to in most editors to see what the actual type of Socket<'a> is) - bascially an async expression that wraps around the socket expression like so. See below for any other people experiencing my issue:

[code]
From a de

[2016-06-14 04:49] mvkra opened #467 "Websocket fails under load with error message when sending to client"
Another bug around websockets unfortunately. After a minute or two sending large payloads over the websocket I'm getting the below exception when Suave is trying to send to the client. After looking at the Suave code here my suspicion is that the same SocketAsyncEventArgs (the one TcpTransport is initialised with) is being used concurrently by two async threads. This is probably because one isn't

[2016-06-14 13:09] ademar commented on #463
Wouldn't a pattern `use IDisposable` work in your case ?

[2016-06-14 13:21] ademar commented on #467
@mvkra are you running the latest pre-release 2.0.0-alpha4 ?

[2016-06-15 00:18] mvkra commented on #463
A simple use statement inside the socket monad would work if it triggered upon the user disconnecting - my testing showed it didn't call any of the disposable logic when doing this. In our case I wouldn't feel comfortable using it unless I had the option of capturing the error and log it with some other detail. While this is possible as per my code above it isn't obvious to a newcomer. Obviously a

[2016-06-15 01:15] mvkra commented on #467
@ademar I just tested it under the 2.0.0-alpha4 pre-release package and yes the issue still persists.

[2016-06-15 14:18] ademar commented on #467
Would you mind sharing your failing POC so we do not have to cook it ourselves ? I also was wondering what platform are you on ?

Thanks.

[2016-06-15 14:33] ademar commented on #463
What you did above is the correct/simpler way of doing it; to trap the `Choice2Of2` branch we need to exit the `socket` monad scope.

We should perhaps add this to our example to illustrate the pattern.

[2016-06-16 04:38] mvkra commented on #467
On Windows 7 (standard .NET framework 4.5). When I get the time will try to create a POC.

[2016-06-17 14:02] neoeinstein commented on #360
I'm all for helping to make the orderly switch to Hopac. Like @haf, I too generally use Hopac to back Suave, so I would be happy to assist in this.

[2016-06-18 13:08] ademar commented on #467
Hum ... at some point had a gate right there. It seems it fell through the cracks.

Let me research a little bit and will bring it back.

[2016-06-19 05:57] mvkra commented on #467
No problem - I've forked the Suave repo with and added the code I used to remove my issue if its helpful. This is a bit of a showstopper for my usage so obviously would like to see this fixed and put out soon. Note that you needed a lock on the setBuffer call as well or anything that interacts with the socket.

[2016-06-20 03:54] ademar commented on #467
@mvkra Can you give a try to the code in the PR #470

[2016-06-20 05:35] mvkra commented on #467
@ademar After testing this for about 20 minutes with the new library I didn't get a crash. The current version failed in about a minute. So your changes I think have solved the issue. Just wondering whether a bugfix release of 1.1.x can be released rather than waiting for 2.0.0 (stable) to be ready which might take awhile.

[2016-06-20 13:15] #457 closed

[2016-06-20 15:28] ademar commented on #467
@mvkra I've released v1.1.3 with the fix. Let us know if you encounter any issues.

[2016-06-21 00:30] mvkra commented on #467
All good with the new version on my end. Will close the issue.

[2016-06-21 00:30] #467 closed

[2016-06-21 09:47] YaroslavSchubert commented on #454
Hi! I can do it.

[2016-06-21 09:48] haf commented on #454
@YaroslavSchubert That would be excellent =)

[2016-06-22 02:25] JohnDoeKyrgyz commented on #435
Spent some more time on this. I think I understand what is going on.

In HttpOutput.fs the writeHeaders function explicitly filters out _server, date_ and _content-length_ from the list of headers being written. For standard Suave requests, the _content-length_ header is written in the writeContent function. Unfortunately, this function is not used when processing owin requests. It appears as if t

[2016-06-22 08:43] ranma42 commented on #341
I started working on this here https://github.com/ranma42/suave/tree/wip/rand-port but I am unsure about what is the best way forward.
It looks like Suave often assumes that the input data for the binding will match exactly the binding outcome. Some of that can be relaxed without breaking changes, but at least `HttpBinding` will probably need to allow a port range.
What is the best way to change t

[2016-06-22 09:45] philsquared commented on #341
For some reason I missed the original ping on this - sorry for not responding sooner, @haf.
I noticed that throwing on port binding failure was reintroduced (although by trying it) a while back and that sorted things for me.
The extra work on port randomisation looks interesting, though, and I'd be keen to switch to that when it's ready. My use is on a production environment at the moment so I can

[2016-06-22 12:37] #464 closed

[2016-06-25 18:51] jackmott opened #474 "Dotliquid to take array as well as list and seq?"
Any reason this can't be expanded to include array as well?
https://github.com/SuaveIO/suave/blob/master/src/Suave.DotLiquid/Library.fs#L52

If not, I'll give it ago and PR

[2016-06-25 19:14] haf commented on #474
No reason that I can see.

[2016-06-25 21:28] AlfranKeith commented on #414
@CodEFouR, could you tell me what the issue was? Trying to follow https://theimowski.gitbooks.io/suave-music-store/content/en/hello_world_from_suave.html and I'm getting that exception during the first step. Thanks.

[2016-06-25 21:47] AlfranKeith opened #475 "Unhandled Exception: System.TypeLoadException: Could not load type 'Suave.Web' from assembly 'Suave, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'."
nvm my bad

[2016-06-27 10:52] #475 closed

[2016-06-27 10:53] haf commented on #414
It's probably something like your project being compiled with .Net 4.0 rather than .Net 4.5. @AlfranKeith

[2016-06-27 11:34] AlfranKeith commented on #414
Yes, something like that. I have it resolved now, just slept on it then it
hit me haha. Thank you.

On Mon, Jun 27, 2016 at 6:53 PM, Henrik Feldt <notifications@github.com>
wrote:

[2016-06-27 14:29] ademar commented on #474
merged in #476

[2016-06-27 14:29] #474 closed

[2016-06-27 14:31] #466 closed

[2016-06-27 14:50] jackmott opened #477 "DotLiquid registerFiltersbyName does not work"
I don't think the following method in DotLiquid works:
[code]

I think it is because `GetExecutingAssembly` gets the `Suave.DotLiquid.dll only`.   Calling this from user code results in an error at startup because Seq.last operates on an empty Seq.  If I copypasta the code into user code, it finds my filter fine.

I think changing to `Assembly.GetEntryAssembly()` would fix it, but I'm not sure how

[2016-06-27 14:53] jackmott commented on #477
Also it could be made slightly more efficient and more compact with

[code]

[2016-06-27 15:34] jackmott commented on #455
I tried to set up some filters along those lines, and it doesn't seem to work. DotLiquid complains that "Some(x)" is not a valid even if you feed it to a filter.

What if we just unwrapped Some x -> x and None -> Unchecked.defaultof

?

[2016-06-27 21:24] jackmott commented on #477
I've tested this solution and it works (on my machine!). PR is incoming.

[2016-06-28 05:32] jackmott commented on #455
See PR for option support here:
https://github.com/SuaveIO/suave/pull/478

If this gets merged I will close this.

[2016-06-29 09:27] haf opened #480 "Mono 4.4.1 breaks Suave testing"
Here's the build https://travis-ci.org/SuaveIO/suave/jobs/141560408#L1532

When mono is functional again we can add `4.4.1` to the build matrix.

Output:

[code]

Ping @ademar FYI; the tests are now "mostly" passing in my PR #481

[2016-07-01 20:45] #435 closed

[2016-07-03 07:59] vasily-kirichenko opened #482 "Document state-passing between web parts"
I don't like to use a mutable variable here https://github.com/vasily-kirichenko/FsAutoComplete/blob/refactoring/src/FsAutoComplete.Suave/FsAutoComplete.Suave.fs#L41, which is reassigned in this code  https://github.com/vasily-kirichenko/FsAutoComplete/blob/refactoring/src/FsAutoComplete.Suave/FsAutoComplete.Suave.fs#L74

So, we have a bunch of handlers like this:

[code]

Each handler may modify

[2016-07-03 17:21] kolektiv commented on #482
I don't know if there's a Suave specific way of doing this, but I usually make (shared) state "agent" based in some way with web applications, either a simple mailbox or Hopac. That lets me control the concurrency of usage, and usually create some small control grammar via "commands" or actions against that agent. I've not found a better approach than an agent/functional hybrid like that (and the

[2016-07-03 17:34] vasily-kirichenko commented on #482
@kolektiv A mutable var / MBP / Hopac server, all of them effectively represent a mutable state, external to Suave loop (I guess there is one). I don't like the fact that Suave handlers are imperative, i.e. they are supposed to perform some side effect. I'd prefer that `app` thing to be an explicit recursive loop, like we do in Hopac `Job.iterateServer initialState <| fun _ -> job { ... return new

[2016-07-03 18:50] ademar commented on #482
It is not very well documented but we have some modules to persist requests across request:

https://github.com/SuaveIO/suave/blob/master/src/Suave/State.fs

[2016-07-03 22:33] kolektiv commented on #482
@vasily-kirichenko that's interesting - not something i'd considered doing too much, but i'm almost tempted to prototype something which creates a server which has a monadic global state as well as a local (request/response) type state. The only problem with it would be that it assumes the only thing likely to be changing your state is functions handling requests, so you'd need a mechanism to allo

[2016-07-06 14:28] #477 closed

[2016-07-06 14:29] jackmott commented on #455
Options can now be used like so:
[code]

[2016-07-06 14:29] #455 closed

[2016-07-07 06:33] mvkra opened #484 "Allow sending of byte ArraySegment's on websocket"
When using the Websocket support in Suave the send method on the Websocket object is of the form:

member Send: opcode: Opcode -> bs: byte[] -> fin: bool-> Async<Choice<unit, Error>>

The problem with the above method is that if I'm using this framework with large big-data style messages the large object heap quickly fills up and I get application OutOfMemoryException's due to the use of the byte

[2016-07-07 07:14] haf commented on #484
Hi @mvkra ,

Can everything be rewritten to this new signature, so that the old one can be dropped? That way we could try to keep the interfaces small.

[2016-07-07 08:52] mvkra commented on #484
No problem. I kept the old method there bit it is now simply a wrapper
around the new one. I made the assumption that you might of wanted to keep
Api compatibility and therefore it would be allowed as a minor version
release.

As long as that's what you want I.e changing the signature of the existing
send method I'm happy to change it.
On 7 Jul 2016 5:14 PM, "Henrik Feldt" <notifications@github.co

[2016-07-07 12:05] haf commented on #484
I think we'll be aiming for v2 fairly shortly. When we have CoreCLR support and that is completely reproducible. Since @enricosada has been doing wonders with regards to supporting CoreCLR, that may not be very long. I'm planning to test it when I can homebrew install CoreCLR on my OS X.

[2016-07-07 12:22] #480 closed

[2016-07-07 12:22] haf commented on #480
Fixed in latest "weekly"

[2016-07-07 12:47] enricosada commented on #484
the netcore suave is ok.
About brew formula, i added another comment in the homebrew issue in dotnet/cli, let's see.
maybe we should ask in twitter for help, dunno

[2016-07-07 13:05] #484 closed

[2016-07-08 14:19] kspeakman opened #486 "split Suave request handling from hosting"
I want to use Suave to handle requests because its API is great for F#, but I don't want to be tied to its particular web server. For our humble use case, deploying another web server is not desired. I'm thinking here more toward Nancy's model of where you include another package to adapt to the web server it is hosted on.

What do you think?

Aside: I was pretty confused by the OWIN support at fi

[2016-07-09 08:12] halcwb opened #487 "DataContractSerializer broken on mono"
Your default json handler is `DataContractSerializer`, but I think the `DataContractSerializer` is broken on mono, see: http://stackoverflow.com/questions/38163968/unable-to-return-a-json-with-suave-f/38200662#38200662 and https://bugzilla.xamarin.com/show_bug.cgi?id=42446.

Wouldn't it be better to just stick to using Newtonsoft? Far easier and more reliable?

[2016-07-09 13:50] ademar commented on #487
Hi.

Thanks, but no we rather do not take a dependency. See here, you can pass your own serializer if you do not like the BCL serializer.

https://github.com/SuaveIO/suave/blob/master/src/Suave/Json.fs#L27

[2016-07-10 09:18] haf commented on #487
@halcwb I only use [Chiron](https://github.com/xyncro/chiron/) myself. It can be added as a single file, but we'd also need to add Aether (single file) and FsParsec (many files/dll) dependencies then.

[2016-07-10 09:19] #487 closed

[2016-07-14 14:21] everystone opened #489 "Suave.Html.Xml"
Hi,

Im learning Suave and F#, and struggling with a part in the MusicStore example
(https://theimowski.gitbooks.io/suave-music-store/content/en/create_album.html)

This part:
[code]

the Type Xml does not exist in Suave.Html.
I tried using Suave.Xml.Xml, but then I get errors when trying to use select and selectInput later, their return type is Node, and I need Xml.

Sorry if this is the wrong pl

[2016-07-14 19:50] theimowski commented on #489
Right, the book is based on Suave and Suave.Experimental 1.0 - not the best option but it should work if you downgrade to that version.

[2016-07-15 06:57] haf commented on #489
@theimowski Do you have plans for handling the upgrade to v2.0? The APIs of Suave core haven't changed much, but I think experimental has changed a lot.

[2016-07-15 07:04] theimowski commented on #489
I do but my biggest issue is with that i have permalinks to specific commits in the book -  don't know yet how to handle the upgrade then. Rebasing whole branch is a bit of pain.  Anyways i hope to find some time soon to do the upgrade

[2016-07-15 07:45] haf commented on #437
Ping @ademar - have you seen this?

[2016-07-15 07:51] haf commented on #482
@vasily-kirichenko Are you thinking of the server just as an API towards some actor-like loop?

You'd probably need some more actor-like loops around that for doing actual side-effecting tasks to the rest of the environment around the Suave process, such as DB calls... Just like Andrew mentions.

[2016-07-15 10:34] halcwb commented on #487
I understand your reasoning, but just my curiosity, does your `Suave.Tests/Json.fs` pass on mono??

[2016-07-15 11:25] ademar commented on #487
@halcwb Yes, it does.

[2016-07-15 11:36] ademar commented on #437
Sorry, haven't had time to work on this. Now I'm working on getting http2 support done.

[2016-07-16 09:38] halcwb commented on #487
That's weird. I also posted a question on [stackoverflow](http://stackoverflow.com/questions/38276829/is-datacontractserialization-broken-on-mono) about this. Am I doing something wrong?

[2016-07-16 10:09] halcwb commented on #487
P.s. `mapJsonWith` doesn't exist in your official latest release.

[2016-07-18 18:08] john-patterson commented on #454
@YaroslavSchubert Hey, I recently had to piece together all these puzzle pieces. Did you get a chance to do a PR yet, or should I do a write-up?

Additionally, is there a workflow for the "hey I just saved a file, please automatically restart the server and serve my new changes?" For instance, I'm used to the ring extensions for Leiningen where after you run `lein ring server` any changes to the v

[2016-07-18 20:59] ademar commented on #486
@kspeakman this might be of your interest https://github.com/Krzysztof-Cieslak/Suave.Kestrel

[2016-07-20 00:17] kspeakman commented on #486
@ademar Thanks for the link. But hosting on Kestrel is roughly an equivalent scenario to using Suave's web server. In the near term, we need to deploy to IIS so I use Web API. I'd love to be able to leverage Suave on top of interfaces like OWIN (current) or ASP.NET Core (future), and then choose the hosting from there (IIS/azure, kestrel, etc) based on the use case.

[2016-07-20 09:27] ronnieholm commented on #486
There's also the HttpPlatformHandler to host Suave under IIS.

Ronnie

On Wed, Jul 20, 2016 at 2:17 AM, Kasey Speakman <notifications@github.com>
wrote:

[2016-07-20 13:21] kspeakman commented on #486
@ronnieholm I read about HttpPlatformHandler prior to filing the issue. Part of the difficulty I'm aiming at here is non-technical. It's already difficult getting the team to write idiomatic F#. Simultaneously adding new deployment and ops factors can discourage that effort. Changes to deploy/ops are inevitable of course, but managing the timing can make a large difference.

[2016-07-20 14:55] ktodyruik opened #491 "Does Suave support OWIN?"
Hi,

I was searching around to see if Suave supports OWIN, and how to set it up if it does. A google search turned up the owin.fs file in the suave github repository. Is OWIN currently supported? If so, could anybody point me to or provide an example?

Thanks

[2016-07-20 14:59] JohnDoeKyrgyz commented on #491
Hello @ktodyruik

Suave can host owin middleware, and owin applications. As an example check out the [IdentityServerIntegration](https://github.com/SuaveIO/suave/tree/master/examples/IdentityServerIntegration) project in the Examples folder. Identity Server is an OWIN middleware for generating tokens.

[2016-08-03 18:13] FoggyFinder commented on #489
Well, it's still alpha version. In my opinion it makes sense to upgrade when will be a final release.

[2016-08-04 18:40] TheAngryByrd commented on #360
I went through and did the **bare minimum** of changing Async to Jobs in Suave (https://github.com/TheAngryByrd/suave/commit/d64a4639085161c4394d841e3b1254b028470af5).  However when I did a benchmark (with the same test machine form https://github.com/Krzysztof-Cieslak/Suave.Kestrel/issues/1) I got a lower requests per second.

I did not go any further than this.

[2016-08-04 22:09] polytypic commented on #360
I'd love to take a look and understand why Hopac performs poorly here.

So, what commands do I need to execute on OS X (or Windows haven't yet tried) to get a version of the benchmark running with async and jobs from scratch?

If I clone @TheAngryByrd 's Hopac branch and try the build instructions (bundle ...) I get errors.  Here is the first (of many many) errors I see:

[code]

[2016-08-05 06:29] polytypic commented on #360
I added a few comments to @TheAngryByrd Hopac branch and added a pair of new interop primitives to Hopac that might improve perf.  I can see that the code (both with async and job) could be optimized significantly.  I have not yet ran the benchmarks, because my quick attempts to build suave fail.  Building suave master, bundle fails when trying to install nokogiri:

[code]

I have not investigated

[2016-08-05 06:51] haf commented on #360
@polytypic Googling a bit suggests you may not have run `xcode-select --install` on your OS X machine, to install the Apple dev tools/XCode.

[2016-08-05 07:56] polytypic commented on #360
@haf Thanks!  After that and reinstalling libuv (and running into http://bugs.python.org/issue18378) I managed to run Suave master build to completion.  So, then I need to get the Hopac branch built and run the benchmarks with it...

[2016-08-05 08:01] haf commented on #360
@polytypic No worries. For future reference you can use https://github.com/haf/osx to provision your machine in a way that works work most languages :) – includes fixes to the above issues.

[2016-08-05 13:13] #491 closed

[2016-08-05 19:57] polytypic commented on #360
I've now spent a little time looking at the changes and running the benchmarks.  It seems that the hot paths still contain Async code.  IOW, much of the leaf code or the routines that are called many times are still using Asyncs while some code in the middle uses Jobs. Converting/Transferring between Asyncs, Tasks and Jobs can be relatively expensive and now there are many unnecessary conversions/

[2016-08-18 11:44] vasily-kirichenko opened #496 "Load testing with Netling: terrible results"
I'm testing this hello world service https://github.com/vasily-kirichenko/Suave1 with https://github.com/hallatore/Netling

On a local windows 10 machine, .NET 4.6.1

![image](https://cloud.githubusercontent.com/assets/873919/17772325/d8bf1f28-6550-11e6-84d3-7e6027a2faee.png)

![image](https://cloud.githubusercontent.com/assets/873919/17772336/e26fb082-6550-11e6-8281-83098b9e43d6.png)

On linux, m

[2016-08-18 11:54] vasily-kirichenko commented on #496
The logs with Verbose level:
[code]

[2016-08-18 19:46] haf commented on #496
I'm not sure why it's reporting bad response codes. I can run a similar load test locally with apache bench and I've also tried tsung and wrk and boom which is written in go, without getting the same failures as you are getting. Here's a run of 100k requests generated on my laptop to my laptop, on mono 4.6.0, against the Pong sample in Suave running in Release mode after a few warmup runs:

[code]

[2016-08-19 00:41] ademar commented on #496
Also to be precise I would remove the JSON bits from the benchmark.

[2016-08-19 04:34] #496 closed

[2016-08-26 10:47] forki commented on #360
So where are we with this? Anyone still working on it?

[2016-08-26 12:40] TheAngryByrd commented on #360
Since this weekend I'm not traveling ill have a chance to take another crack at it.

[2016-08-26 12:42] forki commented on #360
cool. so what's the goal?

[2016-08-26 13:21] haf commented on #360
@forki  To check where the hotspots are and whether we can bump the performance of Suave?

[2016-08-26 16:59] #489 closed

[2016-08-27 15:26] TheAngryByrd commented on #360
Using dottrace, , the thing that takes the longest in Suave is TcpTransport.write method.  (i know its windows only. I might try to use PrivateEye later on linux to see how they line up.)

![suaveperf](https://cloud.githubusercontent.com/assets/1490044/18026896/bcc8fef0-6c22-11e6-8698-c87359ed8cee.JPG)

I did these next benchmarks without a profiler attached.

This is the normal async version.  It

[2016-09-05 16:17] TheAngryByrd commented on #360
Since I know [Nowin](https://github.com/Bobris/Nowin) uses ScoketAsyncEventArgs.  I quickly took it for a spin.  I was able to get around ```60k req/s```. on my linux machine.

[2016-09-05 16:23] forki commented on #360
???

[2016-09-09 09:45] haf opened #502 "`hasFlag` alternative formulation"
[code]

[2016-09-09 09:49] haf commented on #502
That way `?flag` => true, `?flag=false` => false, `?flag=apa` => false, `?flag=true` => true, `?` => false.

[2016-09-10 18:31] mjgpy3 opened #503 "Header routing combinator"
First off let me just say that this is a brilliant library! I find it very useful and intuitive.

Would there be any value in adding routing combinators for headers? I'm thinking something like `pathScan` but for headers.

I'm not sure if anyone would find use in these, I've had a couple of instances so far.

[2016-09-12 17:12] haf commented on #503
Sure, it could be useful and probably low maintenance too. Send a PR so we can have a look.

[2016-09-12 17:38] mjgpy3 commented on #503
Will do, thank you!

[2016-09-13 19:34] haf commented on #503
I'm closing this issue as it's just a question, but I'm looking forward to your PR :)

[2016-09-13 19:34] #503 closed

[2016-09-15 02:49] leolorenzoluis opened #506 "Suave is doing > 99% CPU all the time in OSX"
Using Mono JIT compiler version 4.4.1, and running a basic suave application.

Is there a way for me to give you more information on why is this happening?

Repro steps is just run a simple suave.

Could it be something related like [this question](http://stackoverflow.com/questions/31685597/how-to-fix-mono-using-100-cpu)

[2016-09-15 05:59] haf commented on #506
Mono 4.4.1 has a broken JIT. They released a backported bugfix to their GC last week, but we had moved on to 4.6.0 by then.

[2016-09-15 08:42] hodzanassredin commented on #360
Tested .net core latest version on ubuntu with yandex tank.
[code]
both started :  dotnet run  -c Release
Was not able to test suave libuv: Package Suave.LibUv 2.0.0-alpha5 is not compatible with netcoreapp1.0

[2016-09-15 09:10] polytypic commented on #360
I would recommend trying to wrap libuv with Hopac rather than Async / ThreadPool:

  https://github.com/Hopac/Hopac.libuv

If someone is interested and has time, I'd be happy to mentor such a project.  Otherwise I'll look at it (sooner or much) later.

[2016-09-15 10:19] 7sharp9 commented on #360
@TheAngryByrd `SocketAsyncEventArgs` works quite well especially in Windows environments, it is an allocation free API, so you have to ensure the rest of the code touching that part is also allocation free.

[2016-09-15 10:22] 7sharp9 commented on #360
Also `SocketAsyncEventArgs` is supposed to use IO completion ports more efficiently so you wont be using as much CPI, you normally max out the IO layer before the CPU.

[2016-09-15 22:18] leolorenzoluis commented on #506
I assume the solution is to move to 4.6.0?

[2016-09-16 06:30] haf commented on #506
Yes, or their latest patch, or 4.2.3.

[2016-09-16 16:09] dsyme commented on #360
@polytypic In https://github.com/fsharp/fsfoundation/pull/387 you said you were no longer supporting Hopac for public use.  Could you give updated guidance on this?  Are you now recommending it for public and production use?

[2016-09-16 17:11] neoeinstein commented on #360
@dsyme At the least, there are several people who are interested in supporting the continued development of Hopac, even if @polytypic only offered mentoring. I know that I am one of those people working to build on the solid foundation Hopac already provides.

[2016-09-17 05:49] leolorenzoluis commented on #506
Still same. CPU > 100% After upgrading Mono to 4.6.0.

[2016-09-17 08:41] haf commented on #506
@leolorenzoluis That's an issue; do you have a way to repeatedly reproduce it that you can share?

[2016-09-17 15:14] leolorenzoluis commented on #506
You could pull the [repository](https://github.com/leolorenzoluis/Datamasa) that I'm running against with.

Also I'm on OS X El Capitan 10.11.6

Attaching also what I see from Activity Monitor.

<img width="400" alt="screen shot 2016-09-17 at 11 12 53 am" src="https://cloud.githubusercontent.com/assets/15150044/18609105/dbab7efa-7cc7-11e6-9d17-6b567a3fcb5a.png">
<img width="554" alt="screen shot 2

[2016-09-17 16:16] haf commented on #506
This seems to be an artifact of your build script:

<img width="852" alt="screen shot 2016-09-17 at 18 15 14" src="https://cloud.githubusercontent.com/assets/193115/18609451/c41403f8-7d02-11e6-824c-77013ee93d70.png">

It would seem that your solution is continuously reloading and re-compiling the fsx file, despite that not being necessary.

[2016-09-17 16:16] #506 closed

[2016-09-18 20:12] polytypic commented on #360
@dsyme:

Those are fair questions.

I spent some time thinking about this.

Nothing has actually changed in that sense.  I originally started working on Hopac based on what I wanted and needed back then (more [here](https://gist.github.com/polytypic/6db1984fdf62b358afd2f82fab088013)) and I open sourced it because there appeared to be some interest in it.  As I don't use F# regularly on work projec

[2016-09-18 20:35] haf commented on #360
@polytypic It's sad for me to hear you say that. The effort that you put in is helping make the F# language eco-system a better one. Despite you not working with Hopac at your day-job, you've continuously put enough effort into maintaining it, for it to be very relevant for at least my own open source projects. What you're doing as a hoppy has positive effects on the industry around this language

[2016-09-20 23:41] mjgpy3 opened #507 "Docker build fails on Step 6"
Hello, I'm not entirely sure why but building a docker image from the included Dockerfile is failing.

I'm running

[code]

The output I'm seeing is

[2016-09-21 07:53] haf commented on #507
It's because MSFT has moved the cheese again, /cc @enricosada

<img width="1228" alt="screen shot 2016-09-21 at 09 53 04" src="https://cloud.githubusercontent.com/assets/193115/18702267/3a71a20e-7fe1-11e6-95bb-1db73d5fe545.png">

[2016-09-22 13:05] quezlatch opened #508 "additional Suave assemblies don't support netstandard (.NET Core)"
when i have an dot net core project, adding "Suave": "2.0.0-alpha5" to project.json works fine. however, any other packages such as "Suave.Experimental" or "Suave.Razor" report
`error NU1002: The dependency Suave.Experimental 2.0.0-alpha5 does not support framework .NETCoreApp,Version=v1.0.`
when i attempt to `dot net build`

[2016-09-26 15:21] kspeakman commented on #486
So here is another example of where the Suave API would be useful as a separate thing from the web server. This post describes how to adapt the Suave API to be hosted as an Azure Function.

http://blog.tamizhvendan.in/blog/2016/09/19/scale-up-azure-functions-in-f-number-using-suave/

Since Azure functions have their own method of hosting, only the API is used, and the author creates adapter functi

[2016-09-26 15:29] ademar commented on #486
I think we can do this for v3 we can slip the web server to its own assembly.

[2016-09-27 01:52] #378 closed

[2016-09-27 01:55] #299 closed

[2016-09-28 11:26] dsyme commented on #360
@polytypic I understand your concerns.

There may be other options between "supported" and "don't use it" you might like to consider for Hopac.

Normally, people will trust an open source project and take dependencies on it if there are 2-3 top-level maintainers, and a sense of mutual commitment to longevity. Hopac offers real value, and there are definitely people interested in using it and contr

[2016-10-03 08:17] jc776 opened #513 "TCP request processing failed, invalid url: ''"
[code]

I occasionally get this in the logs after uploading a file, when running the server through (VS's) FSI or as an exe file. This doesn't affect using the website (the handlers/side effects still happen), but when I host the server on IIS (ASP NET Core Handler - this just runs the exe file, specifying a port), uploading sometimes results in a large IIS error page, '502 - Web server received a

[2016-10-03 11:31] ademar commented on #513
What version of Suave is this ? I think this is fixed in the v2.0 line.

On Oct 3, 2016 4:17 AM, "jc776" <notifications@github.com> wrote:

[2016-10-03 17:34] haf commented on #513
Yes the v2.0 nuget is probably the right choice for you. We're still cooking some features on it, which is why it's unreleased, but tests are passing.

[2016-10-03 20:53] TheAngryByrd opened #514 "IdentityServer3 (Owin) Cookies"
So I attempting to get IdentityServer3 (2.5.3) Suave (2.0.0-alpha006) running on Mono (4.6.1). I used the implicit flow for it and I was able to get the the login screen.  However when I attempted to login, I was sent back to the login page.  After some digging I found out the for some reason the Set-Cookie headers weren't being set for the cookies that IdentityServer needs (idsvr.session, idsvr,

[2016-10-03 20:54] ademar commented on #514
Sure, a PR will be welcome :)

[2016-10-03 21:23] haf commented on #507
Should be fixed by https://github.com/SuaveIO/suave/commit/b1bde85f33581f3f601158a9ef045be36cc6801a

[2016-10-03 21:24] haf commented on #502
Should use alternative formulation before v2 since it's sturdier.

[2016-10-03 21:25] haf commented on #438
@theprash Could you PR the change and we'll review? Modifying examples to match is a plus. :)

[2016-10-03 21:28] haf commented on #430
I have code now that's pretty testable. Marking up for v2.

[2016-10-03 21:28] haf commented on #410
Closing with reference to #418 from @ademar – ping us if you want it reopened and there's more to add to the discussion.

[2016-10-03 21:28] #410 closed

[2016-10-03 21:29] haf commented on #419
Should be fixed in v2. Do you think you could test?

[2016-10-03 21:30] haf commented on #411
Aka the *smiley* operator ^^

[2016-10-03 21:31] haf commented on #368
Ticked the logging pieces as I've made logging the default in v2.

[2016-10-03 21:33] TheAngryByrd commented on #419
Yeah I'll get to it when I get home.  Thanks! 😸

[2016-10-03 23:29] TheAngryByrd commented on #419
Yeah looks good! 🎸

[2016-10-04 08:04] jc776 commented on #513
I'm using 2.0.0-alpha5. I'll try changing to alpha6, then.

[2016-10-04 21:40] #419 closed

[2016-10-05 20:20] #514 closed

[2016-10-05 20:32] ademar commented on #438
I think we initially had this the way you propose and someone, not sure if it was Don Syme himself,  suggested including the Attr version.

Perhaps it is safer to keep these functions around and just mark them as obsolete; there is already a lot of places out there using this notation like the Suave Music Store tutorial.

[2016-10-05 20:50] ademar commented on #394
This is now working correctly in v1.1.3 but in v2.x we are failing to include the assembly information in the netcore binary.

[2016-10-06 05:25] theprash commented on #438
This would involve changing the `div` functions so it would be a breaking change no matter what.

I think a predictable number of arguments is especially important for an internal DSL in a language with currrying, as you have less chance of forgetting an argument.

I'll make a PR when I get a chance.

[2016-10-08 13:45] mjgpy3 commented on #507
Unfortunately, it's still not working. Here's my output

 ---> Running in de1e76890f57
mkdir -p tools/coreclr
.NET Core SDK 1.0.0-preview2-003131 not found. Downloading and installing in ./tools/coreclr
curl -o tools/dotnet-dev-ubuntu.14.04-x64.1.0.0-preview2-003131.tar.gz -L https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-003131/dotnet-dev-ubuntu.14.04-x64.1.0.0-pre

[2016-10-08 14:06] theprash commented on #438
PR #516 submitted. I didn't find any usages of `Suave.Html` in the examples in this repo.

[2016-10-09 14:37] #438 closed

[2016-10-16 23:26] leolorenzoluis opened #518 "Suave.Experimental chokes in F# Interactive"
Given the following code where the products has 500 items.

[code]

I get the following error

Session termination detected. Press Enter to restart.

If I reduce the number of items to say 50-100, it works fine. Is this a limitation in F# Interactive or it's just the space of using Suave.Html is very limited?

[2016-10-16 23:59] ademar commented on #518
Seems like a F# interactive limitation.

On Oct 16, 2016 7:26 PM, "leolorenzoluis" <notifications@github.com> wrote:

[2016-10-24 13:03] #518 closed

[2016-10-24 17:01] dsyme commented on #518
@leolorenzoluis If you'd like to put an issue at http://github.com/Microsoft/visualfsharp it's possibe we could do something about it

[2016-10-24 21:06] leolorenzoluis commented on #518
@dsyme I don't know what happened but when I tried to recreate it while I'm writing the bug in VisualFSharp, I suddenly cannot reproduce it. (I guess that's a good thing for now...)

I don't know what happened, at first I thought it was some limitation when trying to print out large number of objects in one statement with F# Interactive, but it looks like it can print extremely large number of cha

[2016-10-29 04:03] mvkra opened #519 "Websocket chokes when sending large number of messages"
Upon connection to a websocket if the websocket server sends the client 1000's of messages at some random point just stops sending. From a usage perspective all I can see if that the ws.send async inside the socket ce never returns at all and blocks the rest of the application. Tried so far two different clients and am experiencing the same issue; trying another websocket framework allows it to wo

[2016-10-30 10:45] mvkra commented on #519
As an aside created a transport using TcpListener instead to see if it was all the code in the SocketAsyncEventArgs transport and still got the issue. I had to up the count to around 30000 however.

For TcpListener transport see: https://gist.github.com/mvkra/ef0cde995e7d68f237f5a40d71e7cf6c

[2016-10-31 03:00] mvkra commented on #519
Ok I think I've figured out the issue. Both the write loop and the read loop are affected by this issue which makes it even harder to track. Worse it isn't caused by any SocketError or the like so no error reporting catches it.

In a nutshell the state of either the read or write queue and whether the thread should continue or is finished is not set atomically in the readLoop or writeLoop in Webso

[2016-10-31 15:03] ademar commented on #519
Hi, thanks for the report. Sure a PR is welcome :)

You are correct the locks are not set up correctly . The purpose of the queues is to serialize reads and writes.

[2016-11-01 01:43] mvkra commented on #519
If/when this is merged would appreciate a bug fix release (1.1.4) so that it can be used in place of the custom Suave logic we have at the moment. Thanks

[2016-11-01 13:32] #519 closed

[2016-11-02 13:45] #400 closed

[2016-11-02 17:32] haf commented on #513
We've moved to v4.5 at the least I suppose is what happened. After all, v4.0 is six years old.

I'm closing this for a number of reasons:

 1. The latest version isn't being tested by OP
 2. Suave is both a web server and we don't explicitly support running behind IIS
 3. No logs or other debugging material have been supplied
 4. The last entry was 29 days ago about something other than the issue.

[2016-11-02 17:32] #513 closed

[2016-11-02 17:37] haf opened #522 "Bump to latest Logary facade for Suave v2"
`paket update`

[2016-11-03 15:01] ademar commented on #437
@haf Can you test this again on you end ? Here it runs smoothly

[code]

[2016-11-03 17:22] haf commented on #437
Yes, I'll have a look tonight.

[2016-11-03 19:02] haf commented on #437
I'm gonna test on OS X

[2016-11-03 19:48] haf commented on #437
[code]

[code]

[2016-11-03 20:00] ademar commented on #437
Isn't ab broken on mac?

On Thu, Nov 3, 2016 at 3:48 PM, Henrik Feldt <notifications@github.com>
wrote:

--
Ademar Gonzalez
+1-647-891-3606
http://ademar.name
https://github.com/ademar

[2016-11-03 20:53] haf commented on #437
That may be so... I don't have more time to test tonight, but I'll do some testing tomorrow then.

[2016-11-03 21:57] haf commented on #522
Done

[2016-11-03 21:57] #522 closed

[2016-11-03 22:04] haf commented on #437
Yes it was.

[code]

[code]

[2016-11-03 22:25] ademar commented on #437
Hum .. not so fast. I am triggering a weird bug with wrk (https://github.com/wg/wrk)

With maxOps=10.

finish to completion, but

locks the server.

[2016-11-03 22:28] ademar commented on #437
It seems in general opening maxOps + epsilon locks the libuv server. Wonder if there is a race condition trying to autogrow the buffer bank.

[2016-11-04 07:51] haf opened #523 "Replace HttpClient for Http.fs in tests"
Let's move towards supporting F# projects by supporting the Http.fs client rather than the HttpClient.

Most likely this means we'll be able to compose requests that automatically start their backing HTTP servers while they are running (using the compositional abilities of Http.fs).

We should also be able to improve Suave.Testing through this.

[2016-11-04 12:39] ademar commented on #523
Is this really necessary for v2 though? I do not like rewrite working code just for the love of it.

[2016-11-04 13:54] haf commented on #523
No it's not necessary for v2 at all. It's more like I'm documenting what I'm aiming for if there's enough time.

I talked a bit with forki and enrico and they are planning to contribute preview3 support for .net core to this repo when that support in the F# compiler is finished. They expect that to be in two weeks. I suggest we await that and make v2 a dotnet core-focused release.

That way we can

[2016-11-04 13:58] #502 closed

[2016-11-05 18:41] haf opened #527 "Documentation overhaul for v2"
Let's sketch out some ideas for the documentation overhaul for v2 of Suave. This issue tracks creating a new web site that guides people towards being proficient at writing Suave code.

Suggested structure:

 - Home page – single scrolling page, [served by server](https://github.com/SuaveIO/suave/tree/master/docs/server)
   * Quick intro

   * A counter that updates live, on how many browsers are

[2016-11-05 19:13] scitesy commented on #527
A few more ideas: Suave is also nice to use with Suave.Oauth and Logary. Maybe it needs a section for authentication or at least a pointer to the authentication section in the Suave Music Store. Also perhaps add a section for web security concerns like CSRF, OpenSSL, certificates, etc.

[2016-11-05 20:10] haf commented on #527
@scitesy Updated the list

[2016-11-05 20:58] mastoj commented on #527
I also thinks this looks great. Maybe an explicit section about webparts and combinators. It should explain how to write a basic combinators from scratch to five users a better understanding of what you can do with suave. This could be "baked" into one of the other parts of the docs, but an explicit entry will make it easier to find it.

[2016-11-05 23:44] adamchester opened #528 "Suave solution doesn't work in Visual Studio"
The reason is because of the new `project.json` stuff.

Output from build:
[code]

I'll try to fix now and submit a PR.

[2016-11-06 10:35] #528 closed

[2016-11-06 21:37] MattJOlson commented on #527
Suave is also nice to use with Topshelf. :)

I'm currently working through an input validation / error handling story in our Suave project at work. That sort-of fits with mastoj's suggestion of a combinator-from-scratch workbook, and might make a good motivating example.

[2016-11-07 02:49] kuffis opened #530 "Parallel DotLiquid renderings sometimes crash"
After updating to 2.0.0rc1 a program I'm developing no longer worked reliably. The program renders long Javascript files (100k - 300k) as DotLiquid templates and writes them to cache. From cache it serves them as plain text.

[code]
The exception below happens, when two large DotLiquid templates happen to be rendered in parallel (browser sends parallel requests for Javascript files, the cache is e

[2016-11-07 03:45] ademar commented on #530
While there is certainly a bug in our code, as indicated by the "Destination array was not long enough" exception and that we shall address; there is something in your code that called my attention and I thought I should mention to you.

It is in general bad practice to make long blocking calls inside an async workflow. In this case the recommended way of writing the above code would be something

[2016-11-07 03:53] ademar commented on #530
OK I've located what appears to be the bug and will be pushing a fix for it tomorrow.

[2016-11-07 09:14] kuffis commented on #530
Thanks for the introduction to async WebParts!

[2016-11-07 16:52] ademar commented on #530
@kuffis I've commit a fix for this. It should be out in the release, hopefully very soon.

[2016-11-11 05:12] tamizhvendan commented on #527
How about having a sandbox environment "TrySuave"? The User can define the WebPart in an editor, Define the request (we can provide a user interface like Postman) and see it in action?

Requires lot of effort from our side though but I feel it's worth having!

[2016-11-11 05:14] tamizhvendan commented on #527
It's a nice idea to have documentation based on concepts (logging, authentication, etc.,). While documenting we need to provide a real world example.

[2016-11-11 05:16] tamizhvendan commented on #527
A section on "Sites using Suave", "Testimonials" and I feel it would be nice to have a donation page. @haf and @ademar deserve it!

[2016-11-13 21:03] danieljsummers commented on #508
This doesn't seem to be an issue with 2.0.0-rc1.

[2016-11-14 04:33] danieljsummers opened #532 "OWIN - Do not raise on missing ClaimsPrincipal"
When an OWIN application does not provide a `ClaimsPrincipal`, the [current code](https://github.com/SuaveIO/suave/blob/master/src/Suave/Owin.fs#L363) is raising a `KeyNotFoundException`.  (There is a TODO there for Core support.)  The target of this environment is the owin.RequestUser key name, which is not required per [the OWIN spec](http://owin.org/spec/spec/owin-1.0.0.html#_3.2._Environment).

[2016-11-14 10:01] markgagent3 commented on #527
@tamizhvendan You and I should create some videos for each section. Get the low hanging fruit to make it easier for people to get up to speed with Suave. Then we see what people are struggling with or where other think there could be some improvement and we can then focus in those areas.

[2016-11-14 10:08] monkieboy commented on #527
@tamizhvendan You and I should create some videos for each section. Get the low hanging fruit to make it easier for people to get up to speed with Suave. Then we see what people are struggling with or where other think there could be some improvement and we can then focus in those areas.

[2016-11-14 12:27] monkieboy commented on #527
I would like to see a greater effort around:

- Suave+Fable
- A better explanation around `choose` and the combinatory flow of webparts (I will write it as I understand, and you can validate that it is as accurate as it will be descriptive and easy-to-understand)

[2016-11-14 12:42] haf commented on #532
@danieljsummers Sure, that's a great tweak. Go ahead and PR :)

[2016-11-14 14:36] mastoj commented on #527
@monkieboy on what level do you want to see a greater effort around Suave+Fable? Re-use of models? I've been playing with the idea of having isomorphic html dsl for both Suave and Fable, but there are a lot of problems associated with that. So if you were thinking a long those lines I probably think that is out of scope, but it would definitely be nice to some use cases with apis in Suave and the

[2016-11-14 15:04] monkieboy commented on #527
I was thinking mostly about use cases, making the barrier to entry as small as possible by providing (small initially) examples.

[2016-11-15 21:41] haf commented on #527
All that you're saying makes sense guys. Divide the work; e.g. by creating an issue per section and claiming it. Docs are in `./docs`.

I've updated the static file handling docs tonight https://suave.io/files.html

[2016-11-15 21:42] haf commented on #527
@tamizhvendan I've added your suggestions to the large list.

[2016-11-15 21:43] haf commented on #527
By the way; you're documenting a web server that can do almost anything; let your imagination run free and make the docs **fun** when you write them! We can host almost any backend system, too, like EventStore if you want to showcase some part of F# through that.

[2016-11-16 13:13] ademar commented on #527
@haf between this link (https://suave.io/Suave.html) is no longer pointing to the auto-generated API docs.

[2016-11-16 14:43] mavnn opened #534 "Connections sometimes terminate early"
Running suave pre-release behind nginx, we've been experiencing intermittent incomplete chunk encoding errors and content length mismatches.

The nginx logs suggest that these connections are being terminated early by the suave server itself rather than the content length header being calculated incorrectly.

The errors only seem to occur on reasonably large responses, and only occur intermittentl

[2016-11-16 15:05] ademar commented on #534
@mavnn it sounds like a bug I fixed a few days ago. https://github.com/SuaveIO/suave/commit/a795add90e9bba99c5360b64ecad5c4e5c66a6db

[2016-11-16 15:09] mavnn commented on #534
@ademar you might be right actually - I was just looking at that commit, thinking that it might have caused the regression... while actually it was merged just after the last pre-release! Would it be possible for you or @haf to do an other pre-release which includes this fix?

[2016-11-16 15:33] ademar commented on #534
I'll do it later today if @haf doesn't do it first.

[2016-11-16 16:35] haf commented on #527
I know, somewhere a few commits ago, @polytypic's doc generator broke down, so it's currently suspended... Just running the rake task for it reproduces its error, so it's easy to reproduce.

[2016-11-16 17:00] ademar commented on #534
funny this bug is biting me right now

[2016-11-16 18:57] ademar commented on #534
@mavnn  I just pushed v2.0.0-rc2 give it a try

[2016-11-16 18:58] ademar commented on #530
v2.0.0-rc2 is out with this fix. Give it a try and let us know how it goes.

[2016-11-16 20:52] kuffis commented on #530
It goes smoothly and without a hint of error.

[2016-11-16 20:52] #530 closed

[2016-11-17 03:11] slav commented on #321
Has this been fixed or should we still expect to restart Suave on daily basis?

[2016-11-17 10:24] haf commented on #321
It's technically not a bug since the TCP connection is open. We're cycling our EventSource sockets every thirty seconds over here... How do you envision fixing this @slav?

[2016-11-17 18:48] ademar commented on #321
I thought about this once, even coded a connection manager to disconnect connections with no activity.  I think it makes sense to have such a connection manager and track time spent per request and similar stats.

[2016-11-18 10:10] haf commented on #534
Fixed with rc2

[2016-11-18 10:10] #534 closed

[2016-11-18 10:11] haf commented on #321
This is what we have right now; I'd love some feedback and input and perhaps we can create a good component to place in the appropriate module?

[code]

[2016-11-18 14:35] danieljsummers commented on #508
I may have to take my previous comment back; I don't think I had the right packages in project.json.  I'll verify this when I have a chance.

[2016-11-21 07:47] Biarity opened #536 "API Reference link redirects circularly"
If you go to suave.io/Suave.html (by clicking the 'API Reference' button), then click on the API Reference button at the bottom of the page (last word of the paragraph), you will be redirected to the same page.

I didn't make a PR because I don't know what the intended page is. Is there even an API Reference?

[2016-11-21 09:08] haf commented on #536
Yes there is, but the doc gen has broken with an indecipherable error (see the Rakefile). Sorry about that...

[2016-11-22 13:25] danieljsummers commented on #508
Looking at `Rakefile`, line 202 as it currently sits, that's where the standard nupkg and the core nupkgs are merged into a single package.  It looks like this is only for Suave.[version].nupkg.  As a comparison, line 235 in the task "create_nugets_quick" creates a projects list from the `fsproj` files it finds in the tree.  I suspect that the package merge needs to use a similar concept to merge

[2016-11-22 17:02] haf commented on #508
Thee reading of the Code of Ruby is true ;).

So a loop?

[2016-11-22 21:52] danieljsummers commented on #508
I had a bit, and took a stab at it.  Here's what I've got; there's one line here that's obviously not Ruby; I couldn't find any documentation of what properties exist for `|f|`.  Lines 4 and 5 are new (with matching `end`s), and the others use the interpolation with the project name; I just don't know how to derive the name of the project.

[code]

[2016-11-23 14:31] #296 closed

[2016-11-23 14:33] ademar commented on #348
This is not as important anymore as we auto-grow the buffer pool.

[2016-11-23 14:33] #348 closed

[2016-11-23 14:37] ademar commented on #78
Logging has improved a log since then, closing.

[2016-11-23 14:37] #78 closed

[2016-11-26 12:01] haf commented on #321
@slav Have you had time to consider my question?

[2016-11-30 06:48] radekm opened #539 "Authentication.HttpContext.sessionId casts byte[] to string"
I'm using Suave 2.0.0-rc2.

`Authentication.HttpContext.sessionId` casts `userState` value which has type `byte[]` to `string`. The invalid cast is on the last line:

[code]

It can be fixed by replacing the last line with the following:

[code]

Another way to fix this is to somehow change `Cookie.cookieState` that it can put values of different types (not only `byte[]`) to `userState`.

[2016-11-30 20:22] #539 closed

[2016-12-01 21:02] haf commented on #527
How's it going everybody? :)

I just corrected the docs for socket bindings.

[2016-12-02 13:36] toburger opened #541 "suave 2.0: invalid url: '' when posting form-data"
Given the simplest configuration possible:

[code]

When posting the following request to suave:

[code]

suave returns sucessfully, but throws also an exception:

[code]

PS: don't know why it prints `Z:\workarea\suave`...

[2016-12-02 13:38] ademar commented on #541
Is there an extra newline at the end of the post data?

On Dec 2, 2016 8:36 AM, "Tobias Burger" <notifications@github.com> wrote:

[2016-12-02 13:39] toburger commented on #541
Yes, exactly, I found this a moment ago.. ;)

[2016-12-02 13:41] toburger commented on #541
.NET and Postman (didn't test it with other libs) are automatically adding newlines at the end.

[2016-12-02 14:00] ademar commented on #541
Are they really ? I mean we have similar tests (with the .NET client) in our suite and we do not see this behavior. On the other hand I do have seen text editors adding a gratuitous new line at EOF.

In any case this do not seem like a Suave bug .

[2016-12-02 14:31] toburger commented on #541
Using HttpClient/RestSharp, the error gets thrown (https://gist.github.com/toburger/bdf340882f0e7a8f8e9d6e11a21b43d7).

The problem is that I have no control over the lib my client is using and suave 1.0 does not have this behavior.

[2016-12-02 14:52] ademar commented on #541
This should be easy to test, as shown in your gist. Can you submit a PR with a failing test case ?

We already have  tests for POST parsing  but we may be missing something.

https://github.com/SuaveIO/suave/blob/master/src/Suave.Tests/HttpVerbs.fs
https://github.com/SuaveIO/suave/blob/master/src/Suave.Tests/Parsing.fs
https://github.com/SuaveIO/suave/blob/master/src/Suave.Tests/Model.fs
https://g

[2016-12-02 14:53] toburger commented on #541
Sure! I will send you a PR when ready!

[2016-12-04 23:44] jbrestan opened #542 "Incorrect handling of absolute request URIs"
I've encountered an HTTP proxy/API gateway which sends absolute URI on the HTTP request first line. HttpBinding.uri function, which composes the full HttpRequest.uri, handles this incorrectly by gluing the whole string to the schema, host and port again, resulting in invalid URI like "http://0.0.0.0:8080/http://example.com/path/to/resource".

I was surprised the absolute URI in HTTP requests is ac

[2016-12-04 23:49] jbrestan commented on #542
Added a PR to fix this case, although I'm not sure about a few things:
1) Should the resulting URI be the original absolute URI, or as it is implemented now, the binding's base URI + path from the original?
2) Can the unescaping break anything/create a security hole? Keeping things escaped broke some other tests
3) Most importantly as this is my first PR here - is this an OK way to propose a fix/e

[2016-12-05 08:36] haf commented on #542
1. In the app, it should be the original absolute URI because the binding is for selecting the interface, not for the logical abstraction of HTTP. But for a particular method on `HttpBinding` we want the behaviour you describe.
 2. Yes, if escaping isn't done properly we can have a security hole. The app should always read escaped data unless it queries for an unescaped URI.
 3. It's a great way t

[2016-12-05 21:42] jbrestan commented on #542
PR is merged, closing. Thanks!

[2016-12-05 21:42] #542 closed

[2016-12-21 13:46] robertpi opened #547 "bug in owin handling means signalr doesn't connect"
I'm been trying to get signalr working with suave. It seems most things go okay, but due to a bug when the connect url is called, it's treated as a 404.

There's already a fix available here: https://github.com/TheAngryByrd/suave/tree/signalrdemo

but it doesn't seem to have been merged into the master branch. Should I add the fix to my own clone of suave and send a PR? Or can a PR be send from Th

[2016-12-21 14:06] haf-lynx commented on #547
We could start by pinging @theangrybyrd to see if he has any comments on his branch and code - then if you the PR we'd be very pleased. =)

[2016-12-21 14:34] ademar commented on #547
It think what he does there is equivalent to the following, so you may don't need the patch:

[code]

[2016-12-21 15:17] TheAngryByrd commented on #547
@ademar
So like this?
[code]

Still doesn't seem to work =\

[2016-12-21 15:30] ademar commented on #547
Hum .. yeah what I said above does not work. But I still think there is something (even if it works) incorrect with your fix because `requestPathBase`  is not the same as `ctx.request.path` at least conceptually.

[2016-12-21 15:32] ademar commented on #547
In your example `requestPathBase` should be `"/"`

[2016-12-21 15:33] TheAngryByrd commented on #547
Yeah that's what's really weird.

If I set requestPathBase to "" it works, but if I set it to "/" it doesn't. =\

[2016-12-21 15:34] ademar commented on #547
We are onto something here.

[2016-12-21 15:37] TheAngryByrd commented on #547
That's with the "patch" I made to `Owin.fs`.

If I undo the patch, the error I get from signalr is

[code]

I remember stepping through SignalR and they do some magics to come up with urls.

[2016-12-21 15:38] ademar commented on #547
So I guess it is not wrong to set it to `""`

[2016-12-21 15:39] ademar commented on #547
OK, I'll spend sometime with your example and see whats going on.

[2016-12-21 15:41] TheAngryByrd commented on #547
If I set  requestPathBase to "/" I get

[code]

[2016-12-21 16:11] TheAngryByrd commented on #547
Without "patch" and setting `requestPathBase` to `""`.  SignalR doesn't work.

[code]
Without "patch" and setting `requestPathBase` to `"/"`. SignalR doesn't work.

[code]

With "patch" and setting `requestPathBase` to `""`.  SignalR works.
[code]

[2016-12-21 17:14] ademar commented on #547
I found the root of the problem, will be pushing a fix soon.

[2016-12-21 17:15] robertpi commented on #547
Thanks again for looking into this!

Quick aside, seems the nuget version of suave won't allow this:

            choose [    GET >=> path "/" >=> Files.browseFileHome
            "index.html"    context(fun ctx -> owin ctx.request.path) ]

The build fails with this error:

         C:\code\ChatSampleSignalr\src\ChatSampleSignalr\Library.fs(49,-
           41): error FS0193: Type constraint mismat

[2016-12-21 17:18] ademar commented on #547
/signal/connect

That would be cheating! :)

[2016-12-22 07:30] robertpi commented on #547
That would be a nice hack :)

But quite a difficult one, since there doesn't seem to be an easy way to
add the parameters to the redirect in suave, so I guess I'll just wait
for the fix.

On Wed, Dec 21, 2016, at 06:18 PM, Ademar Gonzalez wrote:

Links:

  1. https://github.com/SuaveIO/suave/issues/547#issuecomment-268580542
  2. https://github.com/notifications/unsubscribe-auth/AADItRo-PgGxePPmhT

[2016-12-22 08:55] sun2014cn opened #549 "Chinese become garbled when posting data in multipart/form-data"
I want to upload files,
[code]

[code]
**hello** and **upfile.fileName**  become garbled. And I have add   `<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />`  in `<head>` , it does not work. What I should do?

Thanks

[2016-12-22 10:38] haf commented on #549
@sun2014cn You have to send the HTML page as `text/html; charset=utf-8` from the server.

Could you code a failing unit test, you think? It would help in debugging this.

[2016-12-23 01:44] sun2014cn commented on #549
@haf My index.html is
[code]

And the app.fsx is:
[code]
if I select a file with a Chinese name for the file input, in the  **postFile ctx**  function on server,
**hello** ('文档内容') and **upfile.fileName** become '?????...' in my case and the **File.Copy** failed with the exception : 'Illegal characters in path'

[2016-12-23 03:52] ademar commented on #549
@sun2014cn what version of Suave are you running? Have you tried the latest pre-releases of v2.0 ? I think this issue has been fixed on master for a while now.

[2016-12-23 09:06] sun2014cn commented on #549
@ademar I run the 1.1.3. But I tried the 2.0.0-rc3 just now, it is still garbled. I will do more try.

[2016-12-23 17:28] ademar commented on #549
Managed to reproduce the issue. I am working on the fix.

[2016-12-23 21:59] ademar commented on #549
@sun2014cn Can you please try the latest pre-release v2.0.0-rc5. It should be fixed now.

Note that in general there is no reliable way of decoding `filename` and it is not advisable to rely on it (due security reasons among other things).

[2016-12-24 15:55] ademar commented on #547
This is fixed now in the latest pre-release.

[2016-12-24 15:55] #547 closed

[2016-12-24 15:56] ademar commented on #541
This should be fixed now in the latest pre-release.

[2016-12-24 15:56] #541 closed

[2016-12-24 15:59] #164 closed

[2016-12-24 16:00] #152 closed

[2016-12-25 17:45] toburger commented on #541
it works! thx!

[2016-12-26 03:07] sun2014cn commented on #549
@ademar  I tried the v2.0.0-rc6. It's OK  except the filename Now. 😀.According to your advice,  how to distinguish them if I upload multiple files at the same time . Do you have any idea about it? thanks.

[2016-12-26 16:10] ademar commented on #549
There is different ways you could go about it; the simplest you could just count them file1,file2, ..

Can you capture an HTTP session so we can look at what the browser is sending ? It would be very easy to do with Wireshark.

[2016-12-27 02:15] sun2014cn commented on #549
![Uploading 捕获1.PNG…]()
![Uploading 捕获2.PNG…]()
![Uploading 捕获3.PNG…]()
![Uploading 捕获4.PNG…]()
![Uploading 捕获.PNG…]()
![Uploading 捕获1.PNG…]()
![Uploading 捕获2.PNG…]()
![Uploading 捕获3.PNG…]()
![Uploading 捕获4.PNG…]()

[2016-12-27 02:23] sun2014cn commented on #549
This is my wireshark and npcap(running on 127.0.0.1) Test, I'm not familiar with wireshark so I have to capture some screens.
![3](https://cloud.githubusercontent.com/assets/12409401/21488657/780f0498-cc1d-11e6-9733-b27b2a1e82fb.PNG)

![1](https://cloud.githubusercontent.com/assets/12409401/21488666/8556bae2-cc1d-11e6-8ae7-3ed3852c49d3.PNG)

[2016-12-27 02:38] ademar commented on #549
Try this, right click on an HTTP entry, select Follow and then Follow HTTP Stream and it will give you the whole HTTP session in text format.

[2016-12-27 02:42] sun2014cn commented on #549
@ademar

[code]

[2016-12-27 04:15] ademar commented on #549
@sun2014cn I've just pushed v2.0.0-rc7, can you please give it a try ?

[2016-12-27 04:46] Biarity opened #551 "Suggestion to join .NET Foundation"
I've been enjoying this very well done library the past few weeks with no regrets. So I was thinking, why isn't Suave a .NET Foundation project?

Joining the .NET Foundation would be, in my view, really beneficial to Suave. This would promote the project, expose it to a larger audience (which means potentially more contributors), as well as provide legal & financial support.

Suave already meets (

[2016-12-27 05:12] ademar commented on #551
Thanks for the suggestion but we have other plans for Suave.

[2016-12-27 05:14] #551 closed

[2016-12-27 06:34] sun2014cn commented on #549
@ademar  I‘ve tried it, the filename is OK now.
But I ran into another problem. If I post the form(for example  **hello** :文档内容；**world**:海浪消息 - 规范化.doc) then back to the form page and modify the hello input , select another file(for example **hello**:yyyy  ;**file**:yyyy.txt),I still get the last result(文档内容;海浪消息 - 规范化.doc). In  wireshark , it sends right data, but on server it gets the data I se

[2016-12-27 17:12] ademar commented on #549
@sun2014cn Please try the latest rc8. Thanks for standing by.

[2016-12-28 01:06] sun2014cn commented on #549
@ademar They work correctly now. We all love suave.

[2016-12-28 01:06] #549 closed

[2016-12-28 08:08] haf commented on #549
Nice, well done. Tweeting the release now https://github.com/SuaveIO/suave/releases/tag/v2.0.0-rc8

[2016-12-28 15:37] markvincze opened #552 "How to call an asynchronous function in the implementation of a WebPart?"
I have a very simple helper function for calling a Http endpoint.

[code]

So the signature of the `Get` function is `string -> Async<string>`.

I'm trying to call this in one of the endpoints of my application, and return the response, but I cannot figure out what is the proper way to call this asynchronous method.

I'm trying something like this.

[code]

But I get the compilation error on the l

[2016-12-28 15:50] ademar commented on #552
This is better.

[code]

[2016-12-29 02:52] #552 closed

[2016-12-29 13:12] markvincze commented on #552
Thanks @ademar! Could you recommend an F# documentation that gives some overview about this topic (possibly in the context of Suave)? (I've read this (https://fsharpforfunandprofit.com/posts/concurrency-async-and-parallel/) post, but it didn't really clear things up, for example it doesn't talk about the `return!` keyword.)

On a related note: since then I have a couple of similar questions which

[2016-12-29 13:20] haf commented on #552
If you document them as you go along in `./docs` we'll help you answer them here ;)

[2016-12-29 14:11] markvincze commented on #552
:smile: Sure, I'm happy to document if the problems turn out to be generic enough.

So basically I'm trying to figure out what's the best way to call a function for its side effect before returning an HTTP response. I'm trying to do something like this:

[code]

or even

[code]

But I get a compilation error on the line doing the side effect saying

[code]

So what's the idiomatic way to do this?

[2016-12-29 14:21] haf commented on #552
`appFunc` is evaluated when you start, so you'll need to wrap it with either one of: `warbler`, `context` or `request` to defer its execution until you receive the request. This is similar to what you've discovered.

The problem is that you don't have a 'scope' to place `dummyValue` in.

So:

[code]

Is one way of doing it. Or with `request` or with `context`. Of course, if you look up the [defini

[2017-01-01 03:23] imetallica commented on #527
One thing that is not directed related to Suave but would be helpful to be in the docs is to have a project setup section where you integrate with Brunch/Webpack for building static assets, hot reloading of F# files, etc...

[2017-01-02 15:29] ademar commented on #437
Benchmark runs to completion on the Mac now.

[code]

[2017-01-02 15:29] #437 closed

[2017-01-02 15:47] ademar commented on #254
This has been fixed now.

[2017-01-02 15:47] #254 closed

[2017-01-02 21:34] DonSchenck opened #554 "How to change ip address of server?"
Suave defaults to 127.0.0.1

How do I change that? #

[2017-01-02 21:41] adamchester commented on #554
@DonSchenck you modify the configuration with different bindings, like this: https://github.com/SuaveIO/suave/blob/master/examples/Example/Program.fs#L205

[2017-01-02 21:42] haf commented on #554
https://suave.io/binding.html too

[2017-01-02 21:42] haf commented on #554
I think this is sufficiently documented.

[2017-01-02 21:42] #554 closed

[2017-01-02 23:59] DonSchenck commented on #554
Got it! Thanks!

[2017-01-05 09:26] haf opened #556 "One test crashes on OS X"
[code]

[2017-01-05 10:56] haf opened #557 ".Net Core merge nupkg broken"
[code]

@enricosada May I ask you to have a look at it? The line in question is `system dotnet_exe_path, %W|mergenupkg --source "#{sourcenupkg}" --other "#{clinupkg}" --framework netstandard1.6` but that command doesn't actually tell me what folder it's placing the nupkg in.

This affects release v2.0 (and presumable all the RCs as well).

[2017-01-05 16:46] jackmott opened #558 "Upgrade to 2.0 and get "Could not load type Suave.Utils.Yolo""
With Mono 4.2.1 under linux

I upgraded Suave to 2.0 today, changed "mkSimple" to "createSimple" and everything built fine, started up fine. But as soon as I load my first page I get:

[code]

This appears to be related to DotLiquid. The login page that this is firing on uses the following model:

[code]

and the page template isn't doing anything too weird, just stuff like:

[code]

[2017-01-05 16:59] jackmott commented on #558
More clues!
With Mono 4.6.2, I get this error instead:

[code]

[2017-01-05 18:34] jackmott commented on #558
Figured it out, my project file was pointing to an old custom Suave.DotLiquid, fixed the reference to Suave.DotLiquid 2.0 and all is well.

[2017-01-05 18:34] #558 closed

[2017-01-05 18:40] baronfel opened #559 "Suave 2.0 can't be included on a .net 4.6 project"
Hi!

I have a project I'm using Suave on that targets .net 4.6 on mono 4.6.2, and when I add Suave 2.0 and build, I get the following build error:

[code]

What I'm seeing is that a 4.6 project can include Suave, but the assembly cannot actually be referenced via msbuild until the project is retargeted to 4.6.1.

I was able to work around this by retargeting my project to 4.6.1, but I think it wou

[2017-01-10 09:20] isaacabraham commented on #559
Same here - I tried a net40 console app and a 452 console app - whilst NuGet pulls down the package (because the package is net40), nothing shows up because it's in reality 461 upwards.

Either the package should be changed to 461 explicitly, or the library should be downgraded back to 40.

[2017-01-10 09:32] isaacabraham opened #561 "Replace standard JSON Serializer"
The Json namespace has really useful functions - ``mapJson`` etc. but they use the bog standard ``DataContractJsonSerializer`` which is not very good. It would be useful to be able to supply custom functions to handle de/serialization for this so one could use e.g. Newtonsoft etc.

[2017-01-10 09:38] isaacabraham commented on #561
Closing - I see Suave 2 now has a mapJsonWith :-)

[2017-01-10 09:38] #561 closed

[2017-01-10 09:44] haf commented on #559
Tracked by [this issue](https://github.com/Albacore/albacore/issues/148)

[2017-01-10 22:52] rojepp opened #562 "Suave doesn't work well as a subpath in IIS"
There are some blog posts about [hosting Suave in IIS](http://jeremyabbott.github.io/blog/2016/02-13-suave-sub-app-asking-for-help/), but it doesn't really work that well.

The blog post above suggest to replace `path` function with a `mapSubPath` function so that you don't need to hard-code all the paths. This is not sufficient though:

* `pathScan` doesn't work in this scenario
* `Files.browseHo

[2017-01-16 07:20] lapponiandevil opened #563 "Null exception thrown when client drops connection"
If client drops connection, this emerges:

[code]

[2017-01-16 15:49] ademar commented on #563
Can you show us the server code ?

[2017-01-16 15:56] ademar commented on #562
I suspect in this case `homeFolder ` is not being set correctly.

By default Suave will serve files from the launching folder (see https://github.com/SuaveIO/suave/blob/master/src/Suave/ParsingAndControl.fs#L170).  I figure IIS is launching Suave from System32 or similar and that is why Suave can not find your static content.

[2017-01-16 19:46] haf commented on #563
Admittedly not the most optimal code ever written, but here goes:

[code]

[2017-01-16 21:29] ademar commented on #563
The exception occurs within MemoryStream, not in Suave space, right ?

[2017-01-16 21:55] haf commented on #563
Are you saying the async CopyTo doesn't handle cancellation?

[2017-01-16 23:41] ademar commented on #563
I thought of that, but that would only make sense if you were shooting down the server.  Looks like the stream is disposed while CopyToAsync is running. Note also that WriteAsync in MemoryBuffer just calls Write, it is not truly async.

[2017-01-17 22:12] ademar commented on #559
I have just published v2.0.1 targeting .NET 4.6; please give it a try. Thanks.

[2017-01-17 22:14] ademar commented on #557
I have published new nugets that do not have this problem. Basically I had forgotten to clean my build before packaging.

[2017-01-17 22:14] #557 closed

[2017-01-18 10:05] forki commented on #559
2.0.1 still doesn't work for NET 452 and below

[2017-01-18 12:01] haf commented on #559
@forki That is correct and intended.

[2017-01-18 12:39] forki commented on #559
Then why do you put a net40 lib into the nupkg?

Am 18.01.2017 13:01 schrieb "Henrik Feldt" <notifications@github.com>:

[2017-01-18 13:05] haf commented on #559
https://github.com/Albacore/albacore/issues/148

[2017-01-18 13:23] isaacabraham commented on #559
@haf don't understand :-) can you explain for the simpletons like me.

[2017-01-18 13:33] adamchester commented on #559
@isaacabraham Suave is compiled for net46 now, but a bug in the build tools puts the dll in the wrong folder inside the nuget package. This bug confuses some end users and tools, but works ok if you are targeting >=net46

[2017-01-20 06:42] tamizhvendan opened #569 "Managing Session State between Server restarts and two different browser sessions"
I am using `statefulForSession` and `HttpContext.state` to persist the user login status in a browser session, and it works as expected.

However, either if I restart the `suave webserver` or `quit and restart the browser`, the persisted login status is no longer available, and I need to log in again

Here is a code snippet of the code base

### Combinators to set state

[code]

### Setting State

[2017-01-20 07:02] haf commented on #569
1. You set the configuration's `serverKey`.
2. Yes, instead of the default `Session` longevity you choose a timespan. See the `Cookie` module's types.

[2017-01-20 07:35] tamizhvendan commented on #569
Thanks, @haf both suggestions worked like a charm!

[2017-01-20 07:35] #569 closed

[2017-01-22 21:18] slogsdon opened #570 "Nesting path combinators"
As a newcomer to Suave, I've been working to move past copying and pasting examples I come across, and I've started building an application from scratch. During this process, I attempted to do something like this:

[code]

expecting a request to `/api` would return a `204 No Content` response and a request to `/api/users` would return the JSON-encoded string. To my surprise, I received a `404 Not

[2017-01-22 22:39] jasonzoladz opened #571 "Food for Thought: Kestrel"
The appealing thing about Suave -- for users at least --  is its interface.  That is, you're not forced to write C# in F# in order to use a web server.

The downside, however, is that Suave's performance characteristics are entirely opaque (e.g., no participation in Techempower benchmarks) and its maintenance is left to a two person team.  As a result, I suspect there are many folks (including mys

[2017-01-24 00:41] #571 closed

[2017-01-24 05:33] chinwobble opened #572 "System.Net.Sockets.SocketException: The attempted operation is not supported for the type of object referenced"
I receive the following exception when attempting to run Suave as a service in topshelf on Windows Server 2008.

[code]

My config is as follows in Suave 2.0.2:
[code]

I tried to search for a solution and came across this: https://social.msdn.microsoft.com/Forums/en-US/45df4dce-e6dc-4dac-8a6e-036727a33919/socket-exception-the-attempted-operation-is-not-supported-for-the-type-of-object-referenced?

[2017-01-24 06:03] adamchester commented on #572
Might be related to https://github.com/logary/logary/issues/228

[2017-01-24 06:11] adamchester commented on #572
The source logging statement in Suave is [here](https://github.com/SuaveIO/suave/blob/f53739ac9914783f0f7d2227c757468247f50934/src/Suave/Tcp.fs#L102). It adds the `{client}` field as a value of type `System.Net.IPAddress`. Later, when processing the log message, Logary attempts to enumerate all the public properties of this IP Address, and `ScopeId` throws an exception.

Thinking out loud: one sol

[2017-01-26 01:46] Banashek commented on #331
Just for reference, since usually live-reloading is only done in development, I handle it like this: https://github.com/Banashek/Universal-FSharp-Samples/blob/master/UniversalLiveReloading/src/App.fs . And use a port-incrementing approach to avoid socketexceptions only when the `DEVELOPMENT=true` environment variable is set.

This is with dotnet core, so I can run `dotnet watch run` and it will au

[2017-01-26 04:30] chinwobble opened #574 "Update Suave Logary docs for Suave v2 which uses Logary facade"
The docs are currently outdated
https://suave.io/logs.html

Suave v2 no longer needs the Logary Suave Adapter however this is not reflected in the tutorials.

[2017-01-26 04:38] chinwobble commented on #559
Looks like PR #566 allowed me to compile an app with suave with .NET Framework 4.6.

@adamchester is there anything we can do to fix the bug you mentioned or is it independent on fixing a bug in a upstream dependency?

[2017-01-26 04:48] adamchester commented on #559
@chinwobble yes it's part of albacore. hopefully somebody will help with https://github.com/Albacore/albacore/issues/148

[2017-01-28 07:58] chinwobble commented on #572
@adamchester thanks for investigating this. I guess as a workaround we could the client application of suave logary set the log level to info to prevent the debug logging from being executed?

[2017-01-28 10:47] adamchester commented on #572
@chinwobble yes it's unlikely you want Suave to use debug level all the time, turning it off would work around this small issue.

[2017-01-28 10:51] chinwobble commented on #572
@adamchester can you show some code on how to do this?

[2017-01-28 11:03] adamchester commented on #572
@chinwobble assuming you are using Logary, create a rule that will set the minimal level to >= Info like this https://github.com/logary/logary#rule--hierarchical-logging

[2017-02-07 22:29] vbfox opened #576 "CORS "Access-Control-Expose-Headers" header is invalid"
The code currently use `CORSConfig.exposeHeaders` and place either `"True"` or `"False"` in this header, but it is defined as a list of header names that are allowed in addition to the 6 simple response headers that are always allowed.

https://www.w3.org/TR/cors/#access-control-expose-headers-response-header

Sample: (From MDN https://developer.mozilla.org/es/docs/Web/HTTP/Headers/Access-Control-

[2017-02-12 02:43] adamchester opened #579 "Unable to attach a unique `requestId` to Suave log messages"
I'm looking at sending Suave logs to [Seq](http://getseq.net/).

A key feature is missing. Log messages generated by Suave should have the associated `requestId` (where appropriate) so they can be easily filtered:
![image](https://cloud.githubusercontent.com/assets/570470/22859197/c332be8e-f11f-11e6-8f7a-236c529d2ea9.png)

Using the following sample code, I've managed to associate *my* custom log

[2017-02-12 06:42] haf commented on #579
Yes, I'm on my way towards it, but haven't reached that point yet.

 - https://github.com/SuaveIO/suave/blob/master/src/Suave/Http.fsi#L177
 - http://zipkin.io/pages/data_model.html
 - https://github.com/logary/logary/blob/master/src/targets/Logary.Targets.Zipkin/Targets_Zipkin.fs
 - https://github.com/logary/logary/tree/master/src/targets/Logary.Zipkin
 - https://github.com/logary/logary-js/blob/

[2017-02-12 15:53] caindy commented on #570
Not a Suave expert, but if I understand correctly, you simply want something like:
[code]
So you can do
[code]

Later maybe you'd extend your `apiPath` to check the mime-type or something.

[2017-02-13 00:27] slogsdon commented on #570
@caindy Thanks for the suggestion, but there would still be some duplication within a developer's application that could stand to be removed. A developer need to create and manage these helper functions, so a benefit here would be reducing the amount of code the developer's application would need to hold itself.

[2017-02-17 17:09] endeavour commented on #572
I am still seeing this issue with 2.0.3

[2017-02-17 20:02] adamchester commented on #572
@endeavour can you provide any further details please? How are seeing this issue? what versions of software are you using? what does the log message(s) look like?

[2017-02-17 20:12] endeavour commented on #572
Hi Adam, thanks for the response.

The error looks like this:

[code]

The set up looks like this:

[code]

Versions (from paket.lock)
Suave 2.0.3
FSharp.Core 4.0.0.1
Logary 4.0.311
Logary.Adapters.Facade 4.0.311

[2017-02-17 20:17] haf commented on #572
Need to find every logged `IPAddress` and do `ToString` on it.

[2017-02-17 20:18] ademar commented on #572
Yeah here https://github.com/SuaveIO/suave/blob/master/src/Suave/Tcp.fs#L133

[2017-02-19 17:18] ademar opened #581 "Proposal: Move subprojects to their own repositores"
and build independently.

[2017-02-19 17:41] haf commented on #581
I think that's a bad idea for the following reasons:

 - As I've experienced with my (non-/open-)source work, there's a significant overhead to .net development in multiple projects
 - Subprojects will inevitably go out of sync
 - There's no cascading build tool available for .Net like there is for Haskell
 - It increases confusion about where to send a pull request
 - Things that are annoying to

[2017-02-19 19:48] ademar commented on #581
OK, I hear you :)

[2017-02-19 19:48] #581 closed

[2017-02-19 20:09] #572 closed

[2017-02-25 10:31] haf opened #582 "Mono 4.8, pathScan test fails."
[code]

[2017-02-25 14:28] ademar commented on #582
This is I believe a regression either in Mono or the F# compiler (or the combination of both). It was fixed in the past and it recently resurfaced again.

[2017-02-27 01:01] #429 closed

[2017-02-27 01:02] #454 closed

[2017-02-27 19:55] dedale opened #583 "NullReferenceException on request body for DELETE method"
# Description
When handling DELETE Rest requests, I want to get inputs from request body.
But request body is empty.
I would expect this to work the same way as POST requests.

# Repro steps
[code]

# Expected
Output of code above should be:

# Actual

# Versions
[code]

[2017-02-27 21:03] ademar commented on #583
Is it possible HttpFs is not sending the body ? cc @haf

[2017-02-27 22:41] dedale commented on #583
Body sent only for POST/PUT methods?
https://github.com/haf/Http.fs/blob/5f274f5308f5d4135e5592820049a53f561014f6/HttpFs/HttpFs.fs#L709

[2017-02-27 23:22] #582 closed

[2017-02-28 08:00] haf commented on #583
https://stackoverflow.com/questions/299628/is-an-entity-body-allowed-for-an-http-delete-request

[2017-02-28 08:01] haf commented on #583
I'd say; PR the change to add "DELETE" to Http.fs's ifstatement.

[2017-02-28 08:09] dedale commented on #583
Thanks @haf , I'll try to do that PR with a unit test. So my issue is not related to Suave. Closing.

[2017-02-28 08:09] #583 closed

[2017-03-01 02:59] #463 closed

[2017-03-12 19:33] carsten-j opened #588 "Is Suave compatible with DotNet core v 1.1."
When I try to add Suave to a F# dot net core 1.1 project then I get the error below. Maybe Suave was not updated to work with dot net core 1.1?

``
Running non-parallel restore.
Reading project file /Users/carsten/Projects/LetsGo/Suave/Suave.fsproj.
Restoring packages for /Users/carsten/Projects/LetsGo/Suave/Suave.fsproj...
Restoring packages for .NETCoreApp,Version=v1.1...
  GET https://nuget.org

[2017-03-13 07:25] haf commented on #588
You should add the output to a code block when pasting it. Please do that.

No I don't think it's been upgraded yet.

[2017-03-13 19:38] #588 closed

[2017-03-16 10:42] Dzoukr opened #589 "HttpCookie.create with "SameSite" flag as CSRF protection?"
Hi guys,

I know that support for all browsers is still [not 100%](https://www.chromestatus.com/feature/4672634709082112) (if ever will), but I thing we should think about adding possibility to create HttpCookie with `SameSite` flag (having `Lax` or `Strict` options) to increse security and prevent CSRF attack.

What do you think about this? Is it something worth PR?

[2017-03-16 10:55] Dzoukr commented on #562
Hi @rojepp,

to handle problems with IIS (and pathScan), you can use [Suave.IIS](https://github.com/SuaveIO/Suave.IIS).

To that problem with Files.browseHome, I will look at it. Until then, you can create your own function for serving static files on IIS:

[code]
with using
[code]

Hope it helps

[2017-03-16 17:12] haf commented on #589
Yes, it's definitely worth PRing.

[2017-03-17 09:00] Dzoukr commented on #562
Ok, I did some investigation and problem doesn\`t seem to be `homeFolder`. The problem mentioned by @rojepp happens only if you run your Suave web app on IIS as web sub-application (not IIS Site).

Let\`s say you have `localhost/my-suave-app` as root application (using web.config). If you hit `localhost/my-suave-app/my-file.txt`, Suave correctly searches in folder where your app runs (e.g. `c:\Ine

[2017-03-17 19:57] ademar commented on #562
this seems like the way to go

[2017-03-19 17:05] davidpodhola opened #591 "The namespace or module 'Log' is not defined"
On a clean machine when running `build.cmd`, it fails with

`suave\src\Suave\Sockets\BufferManager.fs(18,23): error FS0039: The namespace or module 'Log' is not defined`

This is because in the `src/Logary/Logary.Facede/Façade.fs` it is `Logary.Facade` now. Will do a PR.

[2017-03-19 17:07] ademar commented on #591
Because you need to run the Rake build script instead.

On Mar 19, 2017 1:05 PM, "David Podhola" <notifications@github.com> wrote:

[2017-03-19 17:09] davidpodhola commented on #591
Then this needs to be fixed I assume (?)

![capture](https://cloud.githubusercontent.com/assets/436605/24082999/2b0ea9b2-0ccf-11e7-80c4-b965823630d2.PNG)

[2017-03-19 17:31] ademar commented on #591
Yes it is incorrect, funny it has been rewritten many times and it is still
incorrect.

On Mar 19, 2017 1:09 PM, "David Podhola" <notifications@github.com> wrote:

[2017-03-19 19:25] #591 closed

[2017-03-22 05:59] pavelhritonenko opened #592 "ctx.request.url returns http://0.0.0.0:8083/ instead of http://localhost:8083/"
I'm looking for a way to make a relative link and return it in the response.

Thought about a webpart with code like:

    fun ctx -> OK <| new System.Uri(ctx.request.url, relativePath).ToString()

But it returns http://0.0.0.0:8083/relativePath instead of http://localhost:8083/relativePath
In `ctx.request.host` I have correct `localhost` value

[2017-03-22 09:01] haf commented on #592
But then you're building an absolute link?

[2017-03-22 09:05] pavelhritonenko commented on #592
Yes, I need an absolute link. I'm only concerned about having binding details in `ctx.request.url` instead request's data.

[2017-03-22 16:54] haf commented on #592
Are you looking for the hostname of the request? What if you have a reverse proxy? What if it's being faked by the client? What if the host has multiple names?

Anyway, if you "just want it to work" then you have a property on the request called [clientHostTrustProxy](https://github.com/SuaveIO/suave/blob/master/src/Suave/Http.fs#L390).

Having the binding information in the url is the most correc

[2017-03-22 16:54] #592 closed

[2017-03-22 17:05] pavelhritonenko commented on #592
Yes, the hostname that was in the client's requests.

Did you mean the situation when a client changed "host" header? It's ok in my case.

But the client mentioned particular one, no? And it is in 'ctx.request.host` field.

I don't want to know deployment configuration, I only want to know which domain my client visited (with port# and protocol).

I don't understand how binding-information could b

[2017-03-22 18:23] haf commented on #592
The binding information is useful from the node that the server runs on. Quite often one spawns a few sidekicks running e.g. health checks that then a consul client polls on localhost/0.0.0.0.

Anyway, there's a link above to the info you need, and then if you want to get the port/IP, that's here https://github.com/SuaveIO/suave/blob/master/src/Suave/Http.fs#L563

Also, 8083 is v1, you probably wa

[2017-03-23 06:27] pavelhritonenko commented on #592
Thanks, have done it already

How does the consul client use information that available only inside Suave code?

It confused me because for example for IIS-hosted WebApi or self-hosted WebApi it is the simplest way to get absolute urls those make sense for the client inside the app. For example, if I want to send an email with absolute url.

[2017-03-23 07:12] haf commented on #592
The information could be used to [place a healthcheck in Consul](https://github.com/logibit/Fakta). But the ability to call a binding is the invariant we/I was after, not necessarily the utility of being able to call it. It also signals that you can have many-hosts per Suave app which is useful in an of itself, but also that the information is not immediately available to the Suave app which could

[2017-03-23 09:20] pavelhritonenko commented on #592
Thanks, I've understood it. What in this case is the best way to send and email with the absolute url?

`clientPortTrustProxy` seems like contains the client's port, not the server's one.

[2017-03-23 15:05] pavelhritonenko commented on #592
And just for prevention of such queries (hope it would be able to google) - in my situation in production (suave behind the nginx) there is no way to get host/port of original query, so the only thing is to put these settings into config on build.

[2017-03-24 00:26] matthewc-mps-aust opened #593 "Websocket behind AWS Application Load Balancer fails with 400"
The [AWS Application Load Balancer transforms all headers to lower case](https://stackoverflow.com/questions/39871250/aws-application-load-balancer-transforms-all-headers-to-lower-case)

[WebSocket.fs:295](https://github.com/SuaveIO/suave/blob/dd5a5f7e086f067d23d9df4b30b1530261cbd6f8/src/Suave/WebSocket.fs#L295) doesn't check for a lower-case "connection: Upgrade" header, so the connection fails.

[2017-03-24 04:46] pavelhritonenko opened #594 "ctx.clientPort / ctx.clientTrustPort contain wrong values"
In context `clientPort` fields we have either value of header `x-forwarded-port` or `ctx.connection.port`:

https://github.com/SuaveIO/suave/blob/6033acfe8b858c9984dd3de094a423c0d504c126/src/Suave/Http.fs#L550-L561

According to specification `x-forwarded-port` contains port that client used to connect to balancer (proxy), however in `ctx.connection.port` we have different values for each connecti

[2017-03-24 07:46] haf commented on #592
Well, your production use-case is identical to what Suave has (also) been designed for; it's why the API mentions the proxy. The header string I linked to ("x-forwarded-host") is what you make [nginx send](https://plone.lucidsolutions.co.nz/web/reverseproxyandcache/setting-nginx-http-x-forward-headers-for-reverse-proxy)

[2017-03-24 07:50] haf commented on #594
`ctx.connection.port` is the (reverse proxy) client's TCP connection as seen from the server, by design. `x-forwarded-port` is the port the (user) client initially connects to. Only a server can tell the port the client connected to, so `x-forwarded-port` contains the reverse proxy server's view of where the client connected (which it knows for sure). Suave's server listen is in the config.binding

[2017-03-24 07:50] #594 closed

[2017-03-24 09:16] pavelhritonenko commented on #594
I'm coping with Suave-Hawk authentication and see the `clientPortTrustProxy` behaves differently when deployed (beyond nginx, it uses `x-forwarded-port` and the value is 443) and on my local machine, where there is no nginx - in this case there is no `x-forwarded-port` header and it returns `x.connection.port`, and on my local machine it is changed with each tcp-connection, as in the console dump

[2017-03-24 09:19] pavelhritonenko commented on #594
Ok, looked at code - `suave.hawk` doesn't use `ctx.clientPortTrustProxy` when `useProxyPort = false`.
So I can assume that `clientPortTrustProxy` returns strange `5xxxx` port when it used locally on dev machine, and returns correct port that client connected to (via `x-forwarded-port` header).

[2017-03-25 14:24] johanvts commented on #527
Is there any way to view the API documentation yet? Trying to learn Suave but it's very hard since I only can finde scattered snippets across the web. Many of witch seem outdated.

[2017-03-25 14:28] #556 closed

[2017-03-25 14:28] #508 closed

[2017-03-25 14:29] #411 closed

[2017-03-25 14:30] #83 closed

[2017-03-25 14:30] haf commented on #430
Merged to master.

[2017-03-25 14:30] #430 closed

[2017-03-25 14:30] #394 closed

[2017-03-25 14:32] haf commented on #536
[code]

[2017-03-25 14:33] haf commented on #527
Can you solve https://github.com/SuaveIO/suave/issues/536#issuecomment-289215305? Then I can push the update.

The API docs is the generated docs.

[2017-03-25 15:12] johanvts commented on #536
I can't find docs/_site, did it move?

[2017-03-25 21:23] haf commented on #536
It's generated: `bundle exec rake docs:build`

[2017-03-28 03:25] rmunn opened #596 "Off-by-1 error in new Content-Range code"
I'm glad to see the new Content-Range code, but I believe there's an off-by-1 error in the headers it sends. The [`sendFile` function](https://github.com/SuaveIO/suave/blob/d997c52f19bcbf311e6b953f0de00e879771d8bf/src/Suave/Combinators.fs#L527) currently sends a `Content-Range` header specifying the range from `start` to `start + fs.Length`, so if we're sending 500 bytes starting at index 0, it wo

[2017-03-28 03:32] ademar commented on #596
ping @simonhdickson

[2017-03-28 08:06] rmunn opened #597 "Improve Content-Range by specifying length"
The [HTTP spec](http://httpwg.org/specs/rfc7233.html#header.content-range) says:

Compression makes this tricky, so I'm okay with not specifying the length of the original file if `Compression.transformStream` returns `Some`. But if the file is being sent uncompressed, it should be straightforward to specify its complete length in the `Content-Range` header. And since that's a SHOULD in the HTTP s

[2017-03-28 18:09] simonhdickson commented on #596
Ah yes, I haven't noticed any issues with browsers but it's likely still worth correcting.

[2017-04-05 10:46] iskandersierra opened #600 "Include Bind for 'a option and 'a Async on AsyncOptionBuilder"
This couple of functions have proved to be very useful on my projects but I have to copy them arround. Could they be included in the codebase? I could make a PR but that seems too much.

[code]
The idea is to be able to let! some Option<'a> and Async<'a> expressions to be bound inside asyncOption.

[2017-04-05 12:04] haf commented on #600
Hi @iskandersierra – I can guess, but could you provide a sample using them, to see how you envision their usage?

[2017-04-06 11:35] iskandersierra commented on #600
Hi @haf

The idea is to be able to do something like the following:
[code]
The thing is to seamlessly use other APIs involving `Option<'a>` and `Async<'a>` inside a asyncOption expression.

[2017-04-06 23:30] ademar commented on #600
I like it. :+1:

[2017-04-07 07:35] haf commented on #600
Hi @iskandersierra

I'd be up for it too, but how would you say it interacts with other types, like the new `Result` type or `Choice2Of2`? Shouldn't we have those as well?

[2017-04-07 07:41] iskandersierra commented on #600
I don't think so. I would only include Option and Async because asyncOption
is based on  those types. For the rest there should be conversion functios
to and from Async/Option

El vie., 7 de abril de 2017 9:36, Henrik Feldt <notifications@github.com>
escribió:

[2017-04-07 10:50] nojaf opened #603 "License question"
As discussed in https://github.com/dustinmoris/Giraffe/issues/32, I'd like to port [Html.fs](https://github.com/SuaveIO/suave/blob/master/src/Experimental/Html.fs) to Giraffe.

I understand that Suave has an [Apache 2 license](https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)) so that shouldn't be a problem as long as I include all necessary links/texts/rights to Suave.

Could somebody

[2017-04-07 11:21] ademar commented on #603
@nojaf You can copy it no problem.

[2017-04-07 11:38] nojaf commented on #603
Thanks

[2017-04-07 11:38] #603 closed

[2017-04-09 17:35] #596 closed

[2017-04-09 17:35] #597 closed

[2017-04-18 12:01] hanbindsg opened #604 "how to change port"
how to ？ change   127.0.0.1:8080   to   127.0.0.1:80

[2017-04-18 12:23] haf commented on #604
Like this https://suave.io/binding.html

[2017-04-18 12:23] #604 closed

[2017-04-19 08:01] hanbindsg commented on #604
let routes =

  { defaultConfig with
      bindings =
        [ HttpBinding.create HTTP IPAddress.Loopback 80us
          HttpBinding.createSimple HTTP "10.0.1.34" 9000 ]
      listenTimeout = TimeSpan.FromMilliseconds 3000. }
    GET >=> choose
        [path "/hello" >=> OK "hello "
         path "/time" >=> OK myTime
         path "/bye" >=> OK "Goodbye World"]

[<EntryPoint>]
let main argv =

[2017-04-19 13:49] sjalowoi opened #605 "Bump to Suave 2.1.0"
Hi,

I have a dependencies problem with Suave.DotLiquid, it depends of Suave 2.0.1 for Dotnetcore version. Is it possible to bump to Suave 2.1.0 version and release a new Suave.DotLiquid Nuget package ?

Thanks in advance,
Sylvain

[2017-04-19 18:49] haf commented on #604
Yes? I don't read Chinese.

[2017-04-20 14:41] sjalowoi commented on #605
Hi,
I see your pullrequest, thank you.
Do you have an idea of when you will be able to deliver a new version of the package?
Sylvain

[2017-04-20 15:14] ademar commented on #605
Sorry i did not continue cause it did not work -- something needs to be
changed in the build script and i dont have the time now.

I'll give it another try later unless somebody else fixs it.

On Apr 20, 2017 10:41 AM, "sjalowoi" <notifications@github.com> wrote:

[2017-04-20 18:45] pnowosie opened #607 "Is version 2.1 incompatible with previous versions?"
Please consider [Fibonacci example](https://github.com/SuaveIO/suave/blob/master/examples/Fibonacci/Program.fs). When I run with Suave 2.0.5 everything works OK.
Once switched to 2.1.0 I got compilation error in line "open Suave":
Severity	Code	Description	Project	File	Line	Suppression State
Error	FS0039	The namespace or module 'Suave' is not defined.	Fibonacci	C:\Proj\fsharp\Fibonacci\Program.fs

[2017-04-20 20:01] haf commented on #607
It's not backward incompatible.

Cannot reproduce:

[code]

Please create a repro project. This is the first I've heard of this problem and 2.1 has been out 10 days.

[2017-04-20 20:01] #607 closed

[2017-04-21 13:06] danieljsummers opened #608 "statefulForSession throws InvalidDataContractException"
I've added "statefulForSession" in front of my `choose` for routes, and I'm now seeing the following error when I try to go to the home page of my application.

[code]

The code is in [this repository](https://github.com/danieljsummers/myPrayerJournal), and my call to `statefulForSession` (aliased to `session`) is part of [this function](https://github.com/danieljsummers/myPrayerJournal/blob/d3430

[2017-04-21 13:38] ademar opened #609 "Run tests in dotnet core"
What the titles says.

[2017-04-21 13:41] ademar commented on #608
There is no binary serialization in .NET Core, we need to find a workaround.

[2017-04-21 14:12] danieljsummers commented on #608
Would that be [this serialization code](https://github.com/SuaveIO/suave/blob/master/src/Suave/CookieSerialiser.fs)?

[2017-04-21 14:46] danieljsummers commented on #608
It does look like it's [coming back for netstandard 2.0](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryFormatter.cs).  If the framework itself will fix this by November (I think that's the 2.0 RTM plan), there's probably not a good reason for a really involved workaround.  _(Digging through the hist

[2017-04-21 15:50] danieljsummers commented on #608
The more I think about that middle paragraph above, it's... not ideal.  Probably the biggest issue I see is that cookies serialized with "workaround" code couldn't be deserialized with the replacement code.  That would be a rude side-effect.

[2017-04-21 16:35] pnowosie commented on #607
@haf I found what was wrong in my project - Target framework was set to 4.5.2 and Suave.2.1.0 dll from nuget is built with .NET Framework 4.6. In that case dll is not loaded and that's the cause of the issue.

Anyway, I wonder it is ok for you. Nuget package suggest it's for .Net 4.0 - but latest is required(?)

[2017-04-22 07:27] haf commented on #608
But it's configurable https://github.com/SuaveIO/suave/blob/master/src/Suave/Web.fs#L89 – how about trying to use a custom serialiser and then telling us what works

[2017-04-22 07:29] haf commented on #607
See https://github.com/Albacore/albacore/issues/148

[2017-04-22 14:49] danieljsummers commented on #608
Nice!  I didn't realize that was an option.  The below works, though I haven't been able to verify that a round-trip does, and my test time is over until much later in the day.

[code]
then

[code]

Once I verify round-trips, this could be a simple workaround.

(It occurred to me, as I was typing, that I was determining round-trip on whether I could decode the JWT I had in the cookie.  I'll use a

[2017-04-23 01:20] danieljsummers commented on #608
OK - the above **does** successfully round-trip.  :)  Would this be worth putting in a NuGet package (if not in this project, I could do it as a community one), or should it just be documented as a .NET Core workaround for cookie serialization?  I didn't see a page on the suave.io site for sessions; I ended up learning-by-example with the Suave Music Store.  I could take a stab at writing a page s

[2017-04-23 07:05] haf commented on #608
Writing a page specific for sessions where we mention this as well would be a great resource for people looking for help. We'd be very thankful for your help.

[2017-04-23 12:58] vivainio opened #610 "Html.fs: need way to avoid HtmlEncode in Text nodes"
I observed that Text nodes now get HtmlEncode'd:

https://github.com/SuaveIO/suave/commit/9d85fb35a15df708335905c0bb7fbc466287b28a (by @atifaziz).

This is desirable behavior for most cases, but for text in <script> tags this is not wanted.

Type "Node" probably needs to grow a new discriminated union case RawText, that doesn't perform the encoding, to allow creating scripts with

[code]

[2017-04-23 15:56] vivainio commented on #610
I made a PR for this: https://github.com/SuaveIO/suave/pull/611

[2017-04-23 16:15] haf commented on #610
Thanks, I'm rebuilding currently.

[2017-04-23 17:14] #610 closed

[2017-04-23 21:29] danieljsummers commented on #608
OK - take a look at [this page](https://github.com/danieljsummers/suave/blob/52e68b3e3ddd9114629304061ff61bffaffee4c3/docs/sessions.md) and let me know if it is accurate.  :)  (Always the fear when you write up something you've recently learned...)

I also put some "raw" Liquid tags around the [DotLiquid documentation page](https://github.com/danieljsummers/suave/commit/52e68b3e3ddd9114629304061ff

[2017-04-24 18:40] danieljsummers commented on #570
Are you looking for something like Express.js's router/module paradigm?  [(briefly described here)](https://expressjs.com/en/guide/routing.html#express-router)

Something like...
[code]

[2017-04-24 19:15] danieljsummers commented on #248
This bit me the other day in all my cookie adventures.  :)  Would a single-case DU be a good fix?

Something like...
[code]

[2017-04-25 00:41] danieljsummers commented on #482
I think the page I'm working around #608 could cover both sessions and user data.

[2017-04-25 06:56] haf commented on #248
@danieljsummers

Thanks for looking into this!

 - I think that the DU case isn't really making it less likely that you generate the wrong key; because we can still have the module named `ServerKey` to generate it
 - Docs on how to call `create` (not `mk`) to generate it
 - I think we should throw like is the case now, otherwise you'll get strange errors of the user session resetting any time you

[2017-04-25 12:41] danieljsummers commented on #248
OK - great.  I'll work on this once I get my session/state documentation done.  I'm guessing the size-check-on-startup would be [go here, as the first line of `startWebServerAsync`](https://github.com/SuaveIO/suave/blob/f0831e3ed00c611f78a04ac30d3a065403470274/src/Suave/Web.fs#L38).

[2017-04-26 22:21] mredison opened #614 "Suave.io/F# timeouts in Azure Web Apps"
Hello folks. I hope you can help me with a customer issue.

The application is written in F# and uses the suave.io web server and uses various type providers (such as the JSON type provider).  But the issue seems to be when making longer running calls to ADW and for that customer is using standard SQL command from .NET

This is his web.config:
<httpPlatform stdoutLogEnabled="true" stdoutLogFile=”R

[2017-04-27 06:44] haf commented on #614
I think tcp timeouts are around 90 seconds.

Can you rewrite the service keep state around and then poll from the client?

[2017-04-27 11:42] rmunn commented on #527
@haf - #615 should solve #536.

[2017-04-27 12:18] rmunn commented on #536
#615 should fix this: once it's merged in and @haf (or whoever) pushes the built docs up to the website, the API Reference docs should work again.

[2017-04-27 15:27] haf commented on #536
Fixed thanks to @rmunn – I've pushed the docs again.

[2017-04-27 15:27] #536 closed

[2017-04-28 11:09] Samvrie commented on #614
Hi,
Just for clarification do you mean the variable **executionTimeout** in your web.config when you say **requestTimeout**?
the default timeout for a request is 180 which is 3 Minutes like in your case.

[2017-04-28 12:48] ademar commented on #614
Can you share the code of your app ? Is there a catch-all route handler ? Usually `NOT_FOUND "Found no handlers"`

If there is no handler for the requested path Suave wont answer at all.

[2017-04-28 17:04] mredison commented on #614
Hi all, thanks for your reply.

I am checking some Azure Web Apps guidelines that there is a max request time of 230 seconds. Any HTTP request can’t run for more than 230 seconds without any data transfer. That limit actually comes from an underlying Azure Networking limit of no idle open connections for more than 240 seconds. If we don’t kill the request with 500 on the 230 second mark, you’ll ge

[2017-04-28 17:54] eknutsen3 commented on #614
The issue isn’t with the handlers.  The request works fine outside of azure (I host a local instance of the web server on my dev box).  The issue is that Azure, as per the Web App guidelines, is killing the connection.  Basically, the web service makes a call to the DB and that call is taking > 5 minutes but Azure kills the client connection to the web app at the 230 second mark.

I get no errors

[2017-04-28 17:59] eknutsen3 commented on #614
I should add, the vast majority (99%) of the calls to the DB complete in < 120 seconds.  The 500 error is an edge case.

[2017-04-28 19:06] haf commented on #614
Well, I'd say we close this as by the design of networks in general. Long running commands need to push data; I suggest you use [Suave's EventSource](https://suave.io/Suave.html#def:module%20Suave.EventSource) to keep sending data to the client to avoid the issue of the azure load balancer terminating the request.

[2017-04-28 19:06] #614 closed

[2017-04-29 03:02] danieljsummers opened #616 "userData Persists per Connection Instead of per Request"
In the discussion of #608, it was discovered that `userData`, which is supposed to have a request lifetime, is preserved across requests when the HTTP keep-alive header is sent.  Even though the connection should be kept open, `userData` should be cleared between requests.

_(When fixing this, be sure to remove the comments from the session documentation referencing the workaround for this issue.)

[2017-05-09 09:08] #482 closed

[2017-05-20 15:53] Kurren123 opened #617 "Newbie question: map json input but not output"
As far as I can tell `mapJson` maps the input JSON to an object into your function, then maps the output of your function into JSON.

The problem is that I'm happy with the way it maps into my function, but I need to return a json string response rather than have suave serialise my output into JSON for me. How can I do this?

Currently i'm getting my output serialised twice. My code so far:

[code

[2017-05-22 11:21] haf commented on #608
Completed with docs.

[2017-05-22 11:21] #608 closed

[2017-05-22 11:21] haf opened #618 "HttpRequest.form contains `("", None)` value"
Should not contain anything if there are no form keys, but contains `("", None)`.

[2017-05-31 22:51] #576 closed

[2017-05-31 22:54] ademar commented on #617
Closing as question was answered on SO

[2017-05-31 22:54] #617 closed

[2017-06-02 17:39] #618 closed

[2017-06-07 08:38] haf commented on #607
v2.7.0 has been released of albacore thanks to @danieljsummers – it's now possible to bump the dependency here in Suave and avoid strangeness like in this issue.

[2017-06-07 14:58] vsapronov opened #622 "It seems that all code examples in docs are not compiling"
Check this: https://suave.io/index.html - code sample is not compilable, seems some namespaces changed.
Check this: https://suave.io/routing.html - code sample is not compilable , seems some types have changed.

[2017-06-08 03:10] vsapronov commented on #622
I'm closing issue - it seems that I was using Suave 0.30 somehow instead of 2.1

[2017-06-08 03:10] #622 closed

[2017-06-08 07:08] StefanBelo commented on #622
I downloaded project trying to understand how suave works, and as you reported I cannot build suave solution at all. To test examples at least I unloaded all projects but left examples, and adding reference to suave assemblies from nugget.

[2017-06-08 07:11] StefanBelo commented on #622
Getting 124 errors starting:

open Suave.Logging.Message

Severity	Code	Description	Project	File	Line	Suppression State
Error		The namespace 'Message' is not defined	Suave	G:\Samples\suave-master\src\Suave\Authentication.fs	8

[2017-06-08 07:27] haf commented on #622
@StefanBelo You're talking about a different problem than this issue was tracking. How to build is clearly documented in the README and it's not just to open visual studio to get cracking. That said, we have *a lot* of samples are *are* made for making it easy:

 - https://github.com/lefthandedgoat/genit
 - https://github.com/fable-compiler/fable-suave-scaffold
 - https://www.gitbook.com/book/thei

[2017-06-08 08:41] StefanBelo commented on #622
Thanks haf, but I think me and vsapronov meant the same.

I downloaded suave source code that includes examples as well. First I tried run build.cmd from developers console, paket restored all dependencies.

Compilation ended with lots of errors.

Then I repeated the similar on clear source code again using VS (I have hot paket install), so the same like I run build.cmd, VS started building the co

[2017-06-08 08:48] haf commented on #622
Follow the README https://github.com/SuaveIO/suave#build-prerequisites

If there are things that still don't work, we'd be delighted to merge PRs. Neither of us do development on Windows.

[2017-06-13 12:24] enricosada commented on #605
@ademar maybe #624 will fix the build script error

[2017-06-17 09:07] haf commented on #559
Albacore #148 has been resolved thanks to @danieljsummers

Releasing v2.1.1 now if dotnet core will let me :)

[2017-06-17 09:10] #559 closed

[2017-06-17 11:50] #605 closed

[2017-06-21 08:00] #574 closed

[2017-06-21 09:06] mattwatson opened #626 "Websocket handshake response should not include Content-Length header"
According to RFC 7230 Section 3.3.2: "A server MUST NOT send a Content-Length header field in any response with a status code of 1xx (Informational)".

The 101 Switching Protocols response, returned when initiating a websocket connection, currently includes a Content-Length of 0.

Although this is harmless with most websocket clients, it causes the .NET websocket client (System.Net.WebSockets.Clie

[2017-06-25 03:29] xdarsie opened #628 "Sample doc not compiling in composing.md"
I am starting my first side-project with Suave (and F#) and noticed that the snippet below does not compile.

File: suave/docs/composing.md
Error: None of the types '(string * string option) list, string' support the operator '^^'

[code]

[2017-06-25 04:52] #628 closed

[2017-06-25 13:13] haf commented on #600
Here's another alternative that uses Choice, which I think is better until we release Suave v3 and have the Result type throughout:

[code]

We can conditionally compile the Hopac calls of course. I've also included a sample choose function, that monadically validates the given choices.

[2017-06-28 11:21] uvcrew commented on #341
Another alternative could be binding to port 0 to pick up an ephemeral port to listen to (https://www.dnorth.net/2012/03/17/the-port-0-trick/). This _almost_ works in Suave 2.1.1. The only problem I have is that Suave reports it is bound to port 0 and I end up having to use ```netstat -ab``` (on windows) to determine the ephemeral port that was assigned.

[2017-06-29 21:54] dmbarbour opened #629 "TLS Documentation"
Suave has meager and awful documentation for use of TLS.

There is one page on Suave.io, [Multiple Binding and SSL](https://suave.io/binding.html), that mentions TLS is possible, but it provides no examples and instead recommends use of a reverse proxy server. The source code lacks any comments. The TLSProvider type doesn't even document that the 'obj' is expected to be a (client?) certificate. Th

[2017-07-13 04:56] tamizhvendan commented on #527
Hi all,

With the help of @theimowski, I came up with a [git book version](https://tamizhvendan.gitbooks.io/suave-documentation/) of current suave documentation.

One major advantage I am seeing in this approach is, we are getting the nice formatting from git book  and tooltips in the code snippets
![image](https://user-images.githubusercontent.com/1128916/28150936-5f305362-67b5-11e7-907f-f3a491dd

[2017-07-17 17:57] #626 closed

[2017-07-28 09:19] matthid opened #632 "YoLo should be in a namespace"
Suave should not pollute my namespace just by adding a reference.

In this particular scenario I was trying to figure out why `let! s = someTask` works in an `async` block.
But the IDE (Was using Rider at that particular time) couldn't help me.

I wanted to remove the bind for the asyncbuilder in order to change all the places. (as `AwaitTask` of fscore is broken IMHO).

Finally, I figured out tha

[2017-07-28 09:45] haf commented on #632
It's supposed to be

https://github.com/SuaveIO/suave/blob/master/Rakefile#L24

PR to fix/investigate would be appreciated.

[2017-07-28 10:01] matthid commented on #632
Yes, I might come back to this eventually, for now I just wanted to track it. Maybe I just need to update Suave. Was this changed recently?

I guess problem is that we have `module YoLo` instead of `module internal YoLo` so it is not replacing anything?

[2017-07-28 10:22] haf commented on #632
You're right, I was on the move and just wanted to get you the info. I've updated the rakefile and can release later today. Sorry about the bug.

[2017-07-28 10:31] matthid commented on #632
No problem, thanks for the quick response!

[2017-07-28 22:16] czifro commented on #570
I too found this to be a minor let down. However, I (am no way a Suave expert) can see why `path` does not do what you would want/expect. It isn't really idiomatic. It would make more sense to have a separate function do what you are talking about. @danieljsummers snippet actually looks really nice. I think that path (pun!) seems more idiomatic.

[2017-08-02 04:50] rmunn opened #635 "Suave NuGet package has assembly version 0.0.0.0 for netstandard - intended, or mistake?"
Yesterday I reported https://github.com/fsprojects/Paket/issues/2576, which @matthid tracked down in https://github.com/Microsoft/visualfsharp/issues/3408 to a version number mismatch in the Suave NuGet package. The `net40` assembly has version number 2.1.1.0, but the `netstandard` assembly has version 0.0.0.0. This caused .NET Core to refuse to load it in my project, because another package (Suav

[2017-08-02 05:02] rmunn commented on #635
This apparently changed at some point between February 19 and March 23. Version 2.0.4 of the NuGet package (released February 19, 2017) had an assembly version number of 2.0.4.0 in the `netstandard1.6` version of the DLL. Version 2.0.5-alpha of the NuGet package (released March 23, 2017) had an assembly version number of 0.0.0.0 in the `netstandard1.6` version of the DLL, and all subsequent packag

[2017-08-02 05:42] rmunn commented on #635
After a quick glance, I rather suspect that something in PR https://github.com/SuaveIO/suave/pull/590 — perhaps commit https://github.com/SuaveIO/suave/commit/1ff90654a0e48941456b513ee729271ba95f8e39 — may be responsible for the 0.0.0.0 version number. That commit excluded the `.netcore.fsproj` file from the part of the code that wrote AssemblyVersion attributes (or is it elements?) to the .fsproj

[2017-08-02 14:37] ckpearson opened #636 "Using Suave as a proxy"
Hi,

I'm trying to work out how to use Suave as a proxy, I notice that proxy.fs was removed, and I'm trying to reimplement it, but there's a lot of stuff no longer available (e.g. response_f).

Is there any built in way of setting up proxying, if not, how would I go about getting this to work?

[2017-08-04 06:27] RussBaz opened #637 "Suave.DotLiquid potential assembly version mismatch"
I am getting the following issue at runtime when I am trying to follow the dotliquid sample from https://suave.io/dotliquid.html

[code]
I am using F# on net core (2.0 preview) with paket.
dotnet --info
.NET Command Line Tools (2.0.0-preview2-006497)

Product Information:
 Version:            2.0.0-preview2-006497
 Commit SHA-1 hash:  06a2093335

Runtime Environment:
 OS Name:     Windows
 OS Vers

[2017-08-07 07:43] haf commented on #635
Good catch. It's of course not intended. A fix/PR woudl be appreciated. /cc @enricosada

[2017-08-07 07:47] haf commented on #570
+1 to PRs where we can discuss this over code.

[2017-08-07 07:49] haf commented on #636
`response_f` is probably just named `response` now. https://github.com/SuaveIO/suave/blob/master/src/Suave/Combinators.fs#L11

Proxy.fs can be re-added and updated; the APIs have only changed in names (like the above), not in semantics. We need someone who can help us maintain the proxy, too. Bonus points for a TCP/state-machine implementation, OK-to-merge for a WebRequest-variant.

[2017-08-07 09:48] rmunn commented on #637
I believe this is caused by #635.

[2017-08-09 21:06] 0x53A opened #638 "Suave nuget pulls in half the internet when installed into net461"
Create a new net461 project, install suave.

Expected: It adds Suave, and FSharp.Core

Actual: It adds _Everything_.

Why?

![image](https://user-images.githubusercontent.com/4236651/29143843-f26eff28-7d56-11e7-84ad-c0688dab49f0.png)

The package does not have a dependencies block for net40, so it takes the _best matching_ one, which is netstandard1.6.

This is the packages.config:

[code]

Note:

[2017-08-09 21:51] haf commented on #638
Nuspec:

[code]

Could be related to https://github.com/Albacore/albacore/pull/234 and the changes there by @danieljsummers

For commit 8ba878e

[2017-08-12 21:26] Banashek opened #639 "Suave.Testing issues with dotnet core"
Have an existing dotnet core project with the following dependencies:
`Expecto`: `5.0.0`

I went to add the following to do some api testing:
`Suave`: `2.1.1`
`Suave.Testing`: `2.1.1`

When running the application, I get the following error:
[code]

Familiar with dependency hell and knowing that I can just use the older api, I switch my Expecto dependency to:
`Expecto`: `4.0.3`

Existing tests run

[2017-08-16 03:47] rmunn commented on #635
I believe PR #640 fixes this; at least, it Works For Me™.

[2017-08-16 06:30] #635 closed

[2017-08-16 06:33] haf commented on #639
Should have been fixed with #640 – will compile & release fixes and then we can test here.

[2017-08-16 06:34] haf commented on #637
Should have been fixed with #640, let me recompile & release and let's see if it's indeed fixed.

[2017-08-16 06:35] haf commented on #632
Fixed.

[2017-08-16 06:35] #632 closed

[2017-08-16 06:37] haf commented on #589
Merged.

[2017-08-16 06:37] #589 closed

[2017-08-16 16:28] Banashek commented on #639
Yeah after doing some other core stuff I've seen these `type initializer does not exist` kind of errors all over the place

[2017-08-16 17:18] jimfoye opened #641 "Update DotLiquid dependency"
When I pulled down latest DotLiquid (2.0.158) today in my project via Nuget, I started experiencing a type initialization exception in the Suave.DotLiquid module. After doing some detective work, I think (let's say I'm about 95% certain) that this is due to a recent breaking change in DotLiquid. If so, the right thing now might be to specify a minimum version for DotLiquid of 2.0.158.

I'm still t

[2017-08-17 02:05] rmunn commented on #637
@haf - Looks like the Appveyor build failed while running the libuv unit tests. Do you have a way to "kick" Appveyor and get it to redo that build? Right now the NuGet package available on nuget.org is still the 2.1.1 version with 0.0.0.0, so I can't yet verify that #635 has actually been fixed.

[2017-08-17 09:59] haf commented on #637
https://ci.appveyor.com/project/haf/suave/build/2.0.707 builds for me

[2017-08-17 10:02] haf commented on #637
Ok, releasing v2.2.0 despite the extra parameter to create potentially being incompatible with callers.

[2017-08-17 13:54] mrkaspa opened #642 "Problems with Suave 2.2.0 and Liquid"
I made a simple example and got this error

[code]

[code]

[2017-08-17 13:57] haf commented on #642
DotLiquid v2.0.55? https://www.nuget.org/packages/Suave.DotLiquid/

Could you submit a PR to bump DotLiquid please?

[2017-08-17 14:05] mrkaspa commented on #642
@haf with that dependency got this error when tries to render

[code]

[2017-08-17 14:15] haf commented on #642
Runtime?

[2017-08-17 14:17] mrkaspa commented on #642
dotnet core 2

[2017-08-17 14:18] haf commented on #642
It's supposed to bind to `module [<AutoOpen>] Suave.Utils.YoLo` which contains `Async.map`, which is failing for you. Binding should work, because this exists:

<img width="670" alt="screen shot 2017-08-17 at 16 17 26" src="https://user-images.githubusercontent.com/193115/29416822-98b6aabe-8367-11e7-88da-5fef1b9017ce.png">

And because it all compiles on both mono and .net core. I did build it usi

[2017-08-17 14:18] haf commented on #642
[code]

For me.

[2017-08-17 14:19] haf commented on #642
I'd update, but there are no command line instructions at https://www.microsoft.com/net/core#macos

[2017-08-17 14:20] haf commented on #642
PIng @enricosada – what would be my next steps?

[2017-08-17 14:22] haf commented on #642
Also ping @ademar – are we moving to .Net core 2.0?

[2017-08-17 14:22] haf commented on #642
@mrkaspa If you could PR that bump of DotLiquid meanwhile, I could get that merged.

[2017-08-17 14:30] mrkaspa commented on #642
@haf what do you mean? should I create the issue in DotLiquid?

[2017-08-17 14:33] haf commented on #642
No, I'm thinking you could bump the version of DotLiquid in this repo and send that as a PR. That way the CI infrastructure can test it out.

[2017-08-17 14:33] haf commented on #639
Could you please check now that I've released?

[2017-08-17 14:33] haf commented on #642
Related https://github.com/SuaveIO/suave/issues/639 https://github.com/SuaveIO/suave/issues/637 https://github.com/SuaveIO/suave/issues/609

[2017-08-17 14:39] jimfoye commented on #642
That TypeInitializationException is exactly what I was seeing in #641.

[2017-08-17 15:07] haf commented on #641
You can manually edit out changes to the `paket.lock` so that it only is changed in the place where it talks about DotLiquid. Then run `paket install --redirects`, but don't commit all (see https://github.com/fsprojects/Paket/issues/2616). Instead commit any/all app.configs and `paket.lock` and nothing else.

[2017-08-17 18:09] jimfoye commented on #641
@haf, thanks. That packet command doesn't create a binding redirect for DotLiquid, but maybe that's because Suave.DotLiquid doesn't have an app.config, and now needs one? But it does create other binding redirects (Topshelf, BenchmarkDotNet, etc.), and I don't know if these are desired or not.

And I see another problem now - there is a project for .NET Core (Suave.DotLiquid.netcore.fsproj) that p

[2017-08-17 18:57] haf commented on #641
Of course, I understand. But you should never be afraid of filing a PR, even if it's not perfect. What you got sounds like exactly what you should have 👍

I'll fix it though. Thanks for trying.

[2017-08-17 19:14] haf commented on #638
@0x53A Thanks for your patience. I'm working on a fix for this.

[2017-08-17 19:15] #641 closed

[2017-08-17 19:40] Banashek commented on #639
Looks good.

Thanks for getting to that so quickly!

[2017-08-17 19:40] #639 closed

[2017-08-17 19:45] haf commented on #639
You're welcome. :)

[2017-08-19 06:29] JacobChang commented on #616
@danieljsummers @haf I'd like to solve this one, do I just need to clear userState at [here](https://github.com/SuaveIO/suave/blob/880f1642f64d385c57f4c60207737f60fcdfea1e/src/Suave/ParsingAndControl.fs#L49) and then remove the comments @danieljsummers mentioned above?

[2017-08-19 12:22] danieljsummers commented on #616
That looks like it.  I had tried to figure it out, but couldn't.  It would be good to write a unit test that would fail with the current code (i.e., two requests with keep-alive set, but assume that user data doesn't persist), then implement your fix and see if it passes.

[2017-08-19 12:51] JacobChang commented on #616
OK，will submit a PR

[2017-08-20 19:28] mrkaspa commented on #642
is there a solution for this? may be another template system?

[2017-08-20 20:06] haf commented on #642
@mrkaspa Could you try the new release v2.2.1 where I bumped the dependency, to start with?

[2017-08-20 20:15] haf commented on #642
Besides that, I'm having trouble building Suave with .Net Core 2.0, so I can't try recompiling it right now.

[2017-08-20 20:19] mrkaspa commented on #642
@haf got problems with that version too

[2017-08-20 20:28] haf commented on #642
@mrkaspa I see. Thanks for letting us know.

Yes, there are other backends, like Razor, Suave.Experimental and the one that is currently a PR since yesterday (see PR #644)

Of course it would be optimal to sort this issue out; if you'd feel up for digging about the internals of cross-platform cross-runtime builds, so I don't have to ;)

[2017-08-20 21:09] mrkaspa commented on #642
@haf honestly I'm a f# beginner learning the language and wanted to build a small experiment web site, so I can't be much help

[2017-08-20 22:03] haf commented on #642
Of course. Then I'd recommend https://www.gitbook.com/book/theimowski/suave-music-store/details which uses the F# view engine.

[2017-08-20 22:15] jimfoye commented on #641
Is 2.2.1 supposed to fix this? FYI, I updated to 2.2.1 but I still can't upgrade DotLiquid past 2.0.145 or I will see the TypeInitializationException again.

[2017-08-20 22:53] ademar commented on #642
I'll leave that decision to you. I am still running my stuff in old .NET/Mono

[2017-08-21 00:37] mrkaspa commented on #642
@haf the guide is too outdated it uses Suave 1

[2017-08-21 05:50] mrkaspa commented on #642
@haf this works with on the 2.0.4 version but from 2.0.5  starts breaking with this error

[code]

[2017-08-21 06:32] haf commented on #641
I'm sorry, but .Net Core 2.0 isn't working on my machine; it gives me NullReferenceException when I try to build. And I don't have time right now to debug it. If you could build this project and see if you can run samples using dotliquid, it would be grand.

[2017-08-21 06:36] haf commented on #642
@mrkaspa I think the view engine docs of that guide are pretty much up to date.

You last message doesn't contain enough information to debug.

I suggest you start with mono and await someone who works with .Net Core to come by and help out with these loader errors.

[2017-08-21 07:00] matthid commented on #642
The `Could not load file or assembly 'Suave ...` is probably https://github.com/SuaveIO/suave/issues/635
I'm unsure about the initial reported errors...

[2017-08-21 11:22] manio143 commented on #642
I'm running on Mono and saw the same issues with Suave.DotLiquid, throwing the initializer exception. However, when I dropped the nuget package and simply included `Suave.DotLiquid/Library.fs` into my project it works fine with DotLiquid 2.0.168
So the problem is probably with the Suave.DotLiquid package rather then the source code.
But I have no idea what might the problem be.

[2017-08-22 01:52] seanamos opened #646 "Bump Expecto in Suave.Testing"
Referencing Suave.Testing from a .NET Core/Standard project results in the following warning:

[code]

I have not seen any actual runtime errors as of yet.
There is a workaround to suppress the warning as detailed here: https://github.com/dotnet/standard/issues/439#issuecomment-321608375

However, as far as I know there is currently no way to suppress assembly warnings with paket.

[2017-08-22 22:35] jimfoye commented on #642
From the readme.txt for DotLiquid:

Almost certainly this is the culprit.

[2017-08-23 04:43] iltay commented on #489
type Field<'a> = {
    Label : string
    Xml : Suave.Form.Form<'a> -> Suave.Xml.Xml
}

[2017-08-23 13:55] inosik commented on #642
The reason for this is that somewhere between DotLiquid 2.0.55 and 2.0.168, [`DotLiquid.Template.NamingConvention`][code] changed from being a public static _field_ to a public static _property_.

  [code]: https://github.com/SuaveIO/suave/blob/e8428ca21a2dd28aa9f08609081ca656f8669e6e/src/Suave.DotLiquid/Library.fs#L22

Although the DotLiquid package is referenced from Pakets Main group in Suave.D

[2017-08-23 14:01] inosik commented on #642
Using [Pakets `strategy: min` option][strategy] could also fix this.

  [strategy]: https://fsprojects.github.io/Paket/dependencies-file.html#Resolver-strategy-for-transitive-dependencies

[2017-08-23 14:03] haf commented on #642
If you have a working environment; it would be great if you could PR some of that.

[2017-08-23 14:10] inosik commented on #642
Unfortunately, I don't. I just looked into the assemblies with ILDasm.

[2017-08-24 00:05] OuSatoru commented on #475
folder name can't be 'suave'

[2017-09-03 17:09] mattwatson commented on #626
I can confirm that this change has fixed the issue I was seeing. Thanks very much for the quick fix =)

[2017-09-03 18:53] haf commented on #646
Expecto v5 supports .Net Core 2. Would you like to do the honours to bump paket.lock?

[2017-09-05 16:06] #642 closed

[2017-09-05 16:08] haf commented on #638
Fixed in release v2.3.0-beta https://github.com/SuaveIO/suave/releases/tag/v2.3.0-beta

[2017-09-05 16:08] #638 closed

[2017-09-08 14:52] alexey-belous opened #649 "CPU utilization becomes 100% if WebSocket client has closed connection not gracefully."
**EDIT See [Bug 53229](https://bugzilla.xamarin.com/show_bug.cgi?id=53229)**

I've used the WebSocket as provided in [this](https://github.com/SuaveIO/suave/tree/master/examples/WebSocket) example and faced up with the following issue:

If WebSocket client has closed connection not gracefully (in my case Nginx closed the connection by timeout) the application process loads 100% CPU.

Example of co

[2017-09-12 04:19] plainionist opened #650 "VS 15.3 installs NetStandard dependencies for .Net framework project"
After having installed VS 15.3 when installing suave from package manager console full .net standard dependencies are downloaded.

I started a discussion at nuget which currently proposes to change the dependency modeling in the nuget spec. pls have a look:

https://github.com/NuGet/Home/issues/5871

do u agree to the proposal?

[2017-09-12 07:40] haf commented on #650
@plainionist Can you try the beta nuget please? See #638

[2017-09-12 07:40] #650 closed

[2017-09-13 03:58] plainionist commented on #650
dependencies for .net fw 4.6.1 project are now as follows:

PM> install-package suave -version 2.3.0-beta -whatif

Attempting to gather dependency information for package 'suave.2.3.0-beta' with respect to project 'ConsoleApplication1', targeting '.NETFramework,Version=v4.6.1'
Gathering dependency information took 3,93 sec
Attempting to resolve dependencies for package 'suave.2.3.0-beta' with Depe

[2017-09-13 07:18] haf commented on #650
Sounds good! :)

[2017-09-13 16:15] raagrawa3 opened #651 "Custom error handling with asp.net core and suave in F#"
This question is to validate the custom error handling implementation here or is there a better workaround possible?

Is there any other best possible way that you could suggest?

I am using Suave with Asp.Net core and kestrel server in F# to build microservices. I want to add http status code and error message for specific server side errors for the client using the microservices' restful api's.

[2017-09-14 15:29] alexey-belous commented on #649
After deep investigation I've found new details about this issue:
The cause of CPU loading is that thread cannot leave the loop in this function https://github.com/SuaveIO/suave/blob/1f52f55215eebc44fdea3a0ed8bf49c1a6f8be9f/src/Suave/WebSocket.fs#L145-L154

That's because when client reset connection this SocketError still is Success in the following code:
https://github.com/SuaveIO/suave/blob/1f5

[2017-09-15 06:40] haf commented on #649
Well researched.

[2017-09-15 08:14] alexey-belous commented on #649
@haf, could you please a look on the temporary solution of this issue that I've come up with?

I propose to handle cases when socket returns a few times an empty buffer as refused connections (see code below).

[code]

If you OK with this solution I'll make a pull request.

[2017-09-15 13:05] vasily-kirichenko opened #652 "build.cmd is broken"
[code]

[2017-09-15 13:07] vasily-kirichenko commented on #652
And
[code]

[2017-09-15 19:17] haf commented on #649
@alexey-belous Yes we could add that to the code base. Will you PR it?

[2017-09-15 21:06] lambdakris opened #653 "Question about injecting/passing per request dependencies"
I was wondering if there is a technique for injecting or passing per request dependencies along the request pipeline, or even if this makes sense within the context of Suave? I know the code below doesn't accomplish what I'm asking but it's sort of how I could imagine it working, is there a way to accomplish something along these lines?

[code]

[2017-09-16 08:04] haf commented on #653
You have the right idea. The more "static/global" things go at the front of the parameter list of functions.

`startWebServer` and its cousin, `startWebServerAsync`, both support taking a CancellationToken, which is Disposable.

Similarly, you connection is.

So you normally block on SIGINT and when that happens, let loose the semaphore you were waiting for and go ahead and dispose/exit the proces

[2017-09-16 09:59] haf commented on #652
@vasily-kirichenko It's been moved to `.paket/paket.bootstrapper.exe`. Would you like to PR that fix?

The msbuild one is not an issue. How do you expect to call msbuild if you don't have it on PATH?

[2017-09-16 10:35] vasily-kirichenko commented on #652
I expect to run build.cmd with no issues on a machine with .net build tolls installed.

[2017-09-16 11:38] haf commented on #652
Ok then, closing as not an issue.

[code]

[2017-09-16 11:38] #652 closed

[2017-09-16 11:47] vasily-kirichenko commented on #652
I can make a PR that removes build.cmd. Should I?

[2017-09-16 11:52] haf commented on #652
I updated the command and readme in build.cmd. Having msbuild on path is doable if you know how a computer works, so it should work with VS Developer Console, which I presume someone who intends to compile a software like this knows how to use.

[2017-09-16 17:57] lambdakris commented on #653
Ok, your comment is clearing up a couple of different things in my head that I had not yet worked out for myself.
- There is controlling the lifetime of the webServer
- Then there is controlling the lifetime of dependencies global to the webServer
- Both these things can be done with the use of a CancellationToken
- Of course, regardless of the host process, shutdown events/signals are never a gua

[2017-09-16 17:57] #653 closed

[2017-09-17 10:51] haf commented on #653
@lambdakris I'm happy to hear that. We've built qvitoo similar to how you're describing.

There is one aber that you should consider with the code sketch you gave: if you re-create the routes and all functions every request, you'll start churning a lot of GC; so the global state you need – the connection should be created once and passed into the route factory function `endpoints` so that you get

[2017-09-18 14:34] brianberns opened #655 "Files piling up in _temporary_compressed_files folder"
I'm using Suave.io as a web server in a shared hosting environment. I've noticed that files created in the `_temporary_compressed_files` folder are never getting deleted. The documentation says "Suave deletes these files once they are served, so their lifetime is usually less than a second," but this is not occurring and I cannot see anywhere in the Suave code where this is implemented. What can I

[2017-09-20 09:22] alexey-belous commented on #649
@haf, I have a few questions. Might I close the issue and when will be released a new version?

[2017-09-20 09:34] haf commented on #649
Yes, let's close this issue. I'll see what I can do about releasing an new version shortly.

[2017-09-20 09:34] #649 closed

[2017-09-20 09:34] haf commented on #649
OT: You don't happen to have a dotted-version vector implementation in JS, do you?

[2017-09-20 10:13] alexey-belous commented on #649
No, I've never worked with it at all :)

[2017-09-21 07:12] haf opened #656 "Beta nuget has wrong dependencies"
[code]

It has no dependencies besides FSharp.Core IRL.

[2017-09-22 01:55] jimfoye opened #657 "When serving a compressed file, Suave may miss a later version"
When asked to serve a static file that has already been compressed, Suave will compare the modification date on the file with the date of the compressed file, and if it's later, compress it to a new file and serve it. However, if a file is replaced with a later version, but that later version happens to be before the first file was compressed, Suave misses this and doesn't serve the new file. I be

[2017-09-22 16:47] jimfoye commented on #655
It seems to me that there are probably three points where files should be cleaned up:

1. On startup (previous session could have terminated abnormally and left files behind)
2. On shutdown
3. When the compressed files folder exceeds a certain size. I did a quick search and found a blog post about how IIS handles compressed files, and it says that IIS does this.

Number 1 is easy, just add code si

[2017-09-22 17:12] haf commented on #655
3. Ensure Suave uses a write lock on its files, then you can't delete in-use files.

[2017-09-22 17:12] haf commented on #655
2. You can have a look at my code for the FileTarget in Logary for inspiration of cleaning log files.

[2017-09-22 23:38] jimfoye commented on #655
@haf Actually even the FileShare.Read that transformStream() uses is sufficient to prevent deletion (I tested just to make sure). So I think that removes some of the trickiness of number 3. Also it means I can safely try to delete the old uncompressed file when a new one is created.

I searched the Logary repo for "FileTarget" but didn't find anything :)

I don't think there is any real place wher

[2017-09-23 00:02] jimfoye opened #659 "When serving a compressed file, does Suave need to set an old expiration date?"
I don't know if this needs to be done or not, and I'm sure yet of all the particulars. I just want to call attention to it in case it's been missed.

According to various MSDN docs, IIS will set a default expiration date of Jan. 1, 1997 on compressed files.

For example, see [https://www.microsoft.com/technet/prodtechnol/WindowsServer2003/Library/IIS/25d2170b-09c0-45fd-8da4-898cf9a7d568.mspx?mfr=t

[2017-09-25 06:50] haf commented on #655
The file target is here https://github.com/logary/logary/blob/master/src/Logary/Targets_Core.fs#L816

General guidelines:

 - functions, functions, functions. If your function is bigger than two lines of code, something's off
 - compose functions together rather than writing it all in a single function
 - imagine that your functions should be callable on their own without too much context, so that

[2017-09-25 17:58] V1nzi opened #660 "userData not working behind nginx reverse proxy"
Hello,

I'm trying to setup an application with suave as webserver behind an nginx reverse proxy. Everything works except for the userData/userState. I use this to return errors/infos/warnings etc. to the user after a redirect.
But the messages  are not even set to the userData when requesting the application. Or I guess they are set at first, but no longer there immediately after the app redirect

[2017-09-25 21:04] haf commented on #660
We primarily assume that your app is stateless; why not put it in a cookie?

[2017-09-26 06:13] V1nzi commented on #660
I am using statefulForSession for all of my routes, which sets the st and st-client cookie. Like this:
[code]
Is that what you mean?

[2017-09-26 18:35] V1nzi commented on #660
Well, I've got an workaround now, where I put such data in an extra cookie, but I'm not sure that this is how it's supposed to work.
It says in the docs, that you can put data into the http context's userState property, which lasts there for the duration of one request. However this doesn't work in my case with the nginx as a reverse proxy. The data is not there when I want to obtain it after a re

[2017-09-26 19:16] haf commented on #660
@V1nzi I think that when you're not using nginx, you have a keep-alive session and thus trigger #647 but with nginx you get two requests; one first that you send 301 back to, then another one for the location in the 301.

Are you expecting to only use a single suave server instance? And what happens if that instance crashes?

This is off the beaten path, because designing stateful HTTP servers is

[2017-09-27 09:50] V1nzi commented on #660
Hm ok, thanks for the help regarding nginx.

It's a small application I'm building for only a limited amount of users and you have to log in before you can do anything.
For implementing the login I used [the music store tutorial](https://theimowski.gitbooks.io/suave-music-store/content/en/auth_and_session.html) and [the docs](https://suave.io/sessions.html) as help where statefulForSession is also

[2017-10-06 21:48] cartermp commented on #289
Now that F# 4.1 has the result type (thanks, @wallymathieu!), would y'all be amenable to changing `formData` to use that?

Happy to send a PR; though this will most certainly break people using `formData` today.  Breaking people, even with a major version bump (I assume Suave follows semver) may cause difficulties.  Adding another member or overload is easier, but I'm also not the fondest of stuff

[2017-10-06 22:34] wallymathieu commented on #289
Problem is that it's a lot of breaking changes, question is how @haf want to go forward with it.

[2017-10-17 16:43] Kurren123 opened #662 "Cannot render a liquid template"
I'm trying to render a liquid template from a string using `Suave.DotLiquid`. I've put a minimal example [here](https://github.com/Kurren123/SuaveLiquidRenderBug). The code I took from suave tests:

[code]

This gives back an error:

[code]

[2017-10-25 22:07] Zagrophyte opened #664 "Assembly.Location usage causes "The path is not of a legal form." failures when library is loaded dynamically"
Assembly.Location can be empty "" when the assembly was not loaded from a path:
[https://msdn.microsoft.com/en-us/library/system.reflection.assembly.location(v=vs.110).aspx](https://msdn.microsoft.com/en-us/library/system.reflection.assembly.location(v=vs.110).aspx)

The issue seems to occur when Suave is bundled as a resource and loaded dynamically, such as with a tool like Fody.Costura.

When bu

[2017-11-15 16:26] inosik commented on #662
This should be fixed in the 2.3.0 beta, see #648.

[2017-11-15 16:41] lambdakris opened #665 "Case insensitive versions of the path combinators"
On several instances, I have thought that it would be advantageous to have case insensitive versions of the path combinators in order to have more forgiving URL matching.

I understand that there are some technical intricacies such as the fact that unix file systems and accordingly most unix servers are case sensitive, and that there is some verbiage in the RFC 3986 about case sensitivity, but I g

[2017-11-15 19:12] #657 closed

[2017-11-16 10:30] kowalgta opened #666 "HTTP Request with long query string exception"
I've stumbled upon on a corner case where HTTP Get Request with a really long query string (more then roughly 10400 characters) is causing Suave to throw an exception:

This exception is thrown here: https://github.com/SuaveIO/suave/blob/master/src/Suave/ConnectionFacade.fs#L165

Other potential issue somewhat correlated with the exception above (request string that was to long got trimmed and was

[2017-11-16 22:11] lambdakris opened #667 "Having trouble with the build"
I am having some trouble with the build

**First, here is my enviroment:**
Windows 10
.NET Core 2.0
.NET Framework 4.7.1
Ruby 2.4.2
RubyDevKit
\* I have not installed Libuv, but it seems like that is only to run some sort of integration tests...?

**Now, the issue I'm having:**
In the root of the repository I ran `bundle` then `bundle exec rake`, at which point I see the following:
[code]

Might t

[2017-11-21 10:14] enricosada opened #669 "template for `dotnet new suave`"
It's missing a template for the .NET template engine, so users with .NET Core Sdk can just

install/update the template: `dotnet new -i "Suave.Template::*"`

and create apps with

[code]

template should be added to the official [list of avaiable templates for dotnet-new](https://github.com/dotnet/templating/wiki/Available-templates-for-dotnet-new)

[2017-11-21 10:14] enricosada commented on #669
if noone volounteer, i'll do it

[2017-11-21 11:26] #660 closed

[2017-11-28 15:18] #646 closed

[2017-12-16 13:32] #665 closed

[2017-12-16 13:33] #662 closed

[2017-12-16 13:35] #616 closed

[2017-12-16 13:41] #355 closed

[2017-12-20 14:18] ademar commented on #609
there is now pr for this #671

[2017-12-22 16:14] lust4life commented on #579
[code]

![image](https://user-images.githubusercontent.com/3074328/34304037-fc04f3fe-e772-11e7-87b3-48a534ba9220.png)

if you are concern about request logs around application business logic, maybe things above can meet your need.

some parts are not have their `request` info there, so they can not have such a field. if we can hook the set traceid part here [ `facade.processRequest _ctx `](https:/

[2017-12-27 16:33] alex-bogomaz opened #676 "Nettandard 2.0 support"

[2017-12-27 16:43] ademar commented on #676
I have just merged support for netstandard2.0 #674

[2017-12-27 16:44] alex-bogomaz opened #677 "NetStandard 2.0 support - checklist"
Since Suave is moving to NetStandard 2.0 support,
lets track what is still needed:

- [x] restore Suave APIs that were removed for NetStandard 1.6, but can work under NetStandard 2.0
- [x] clean-up code from ```#if NETSTANDARD1_5``` etc...
- [x] run NetCore tests for "standard TCP engine" under Linux
- [x] run NetCore tests under MacOS
- [x] use NetCore "Http.fs"
- [x] port all relevant examples t

[2017-12-27 16:47] #676 closed

[2017-12-27 16:48] alex-bogomaz commented on #676
created accidentally

[2017-12-27 16:49] ademar commented on #677
Cool, would you mind sending a PR for these ?

[2017-12-27 16:52] alex-bogomaz commented on #677
sure.. after holidays :-)

[2017-12-27 17:15] ademar commented on #677
OK, I'll give it a try later today.

[2017-12-28 19:25] ctaggart opened #680 "Travis CI builds failing on master with Suave.Experimental.dll.mdb does not exist"
You can see that the builds are failing on the master branch:
https://github.com/SuaveIO/suave/commits/master

The error on Travis CI looks like:
[code]

[2017-12-29 02:07] ademar commented on #680
A new release of albacore should clear this issue cc @haf

[2017-12-29 13:49] haf commented on #680
Ok

[2017-12-29 13:51] haf commented on #680
v3.0.1 released

[2017-12-29 18:03] #680 closed

[2017-12-31 17:16] #666 closed

[2017-12-31 17:17] #656 closed

[2018-01-09 09:34] sporto opened #682 "Unhandled Exception: System.Net.Sockets.SocketException: Address already in use"
I'm trying Suave 2.2.1 with dotnet core 2.1.3 on Mac.

When I run `dotnet run` it builds ok. But then if I ctrl-c and run `dotnet run` again I get

[code]

I have to wait a few secs and try again. So it seems that Suave or something else take a few seconds to unbind from the port.

If using `dotnet watch` (https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch)
I get the error on ever

[2018-01-09 14:48] reneederer opened #683 "File upload fails, using several hundred MBs of RAM on Suave hosted WebSharper project"
When uploading a file, the process memory usage quickly rises from ~100MB to over 1000 MB (and keeps rising). The server side function is never reached. This happens with a small file, with an empty text file, and even when no file is chosen.
While hosting my WebSharper project on Owin, uploading files worked.

You can recreate the bug by creating a new Visual Studio project with the template "Web

[2018-01-09 14:51] ademar commented on #682
Can you try the latest release v2.3.0-beta3 ?

[2018-01-09 20:15] sporto commented on #682
Just tried v2.3.0-beta3. This version fixes this issue. Thanks.

[2018-01-09 20:15] #682 closed

[2018-01-10 09:41] haf commented on #683
What version? We upload ~5 MiB files around the clock without rebooting the server for months.

[2018-01-10 12:06] reneederer commented on #683
Suave Version:               2.2.1
WebSharper Version:    4.0.195.127
Target Framework:        .NET Framework 4.6.1
Target F# runtime:        F# 4.1 (FSharp.Core, 4.4.1.0)

[2018-01-10 13:49] haf opened #684 "How stable is 2.3.0-beta?"
See title.

[2018-01-10 13:51] ademar commented on #684
As stable as any of the other releases. We can make it official.

[2018-01-10 13:55] haf commented on #684
Ok, thanks.

[2018-01-10 13:55] #684 closed

[2018-01-10 15:02] haf commented on #677
@alex-bogomaz I've upgraded Http.fs now

But I can't release it, because this PR/v2.3.0 of Suave has a very recent FSharp.Core constraint:

https://gist.github.com/haf/f2cf4557e4765e8cca6a18dbcaaf4a14

Can you help me?

[2018-01-10 19:56] haf commented on #677
@ademar The [above](https://github.com/SuaveIO/suave/issues/677#issuecomment-356628277) is a good reason not to release the beta just yet.

[2018-01-12 12:55] haf commented on #677
PIng

[2018-01-12 12:58] ademar commented on #677
Suave does not depend on Http.fs, I am not sure why is that important.

[2018-01-12 14:35] haf commented on #677
I mean; why does Suave have to depend on the *very latest* F#?

[2018-01-12 19:02] brianberns commented on #655
Just wondering if there's been any progress on this? Seems like this could be a real problem in a production environment. I just checked and have half a gig of dead temp files on a very low-traffic website.

[2018-01-13 09:53] haf commented on #655
@brianberns I don't think anyone has taken a stab at this; no.

[2018-01-15 10:54] alex-bogomaz commented on #677
this PR https://github.com/SuaveIO/suave/pull/685 should force version "4.1.18" of "FSharp.Core" for NetStandard 2.0 Suave nugets

[2018-01-21 12:33] haf commented on #677
#685 merged

[2018-02-02 12:35] alex-bogomaz commented on #677
Hi - there are 2 things that could be discussed in scope of NetStandard 2.0 support:

1) PR https://github.com/SuaveIO/suave/pull/687 - using latest "FSharp.Core" for test project. This fixes cookie serialization issues related to NetStandard 1.6 "FSharp.Core".

2) PR https://github.com/SuaveIO/suave/pull/688 - more correct reusing of same address (similar to what they did for Kestrel) + adding OS

[2018-02-05 09:34] haf commented on #677
v5 released https://www.nuget.org/packages/Http.fs/

[2018-02-10 01:19] stevehv commented on #683
I am experiencing the same problem with Suave 2.2.1. Is there any information on a fix or workaround?

[2018-02-10 07:43] ademar commented on #683
Note that 100 mb is the default max upload size.

https://github.com/SuaveIO/suave/blob/master/src/Suave/Web.fs#L94

You need to increase this value in the configuration record to handle
larger files.

On Feb 9, 2018 8:19 PM, "stevehv" <notifications@github.com> wrote:

[2018-02-10 07:50] ademar commented on #683
Sorry I just realized this issue is probably a bug in the owin
implementation.

On Feb 10, 2018 2:43 AM, "Ademar Gonzalez" <ademar.gonzalez@gmail.com>
wrote:

[2018-02-10 13:54] #637 closed

[2018-03-20 16:30] wallymathieu opened #691 "WebPart.bind"
When I look at the type signature of `WebPart.bind`, it looks like it should be named `SuaveTask.bind` since it operates on `SuaveTask` from the looks of it?

[2018-03-20 17:28] wallymathieu commented on #691
I get confused because when I look at the docs and the code, you define
`type WebPart<'a> = 'a -> SuaveTask<'a>`
Where in the docs you have defined `SuaveTask<'a>` as `Async<'a option>`
and then define WebPart.bind as what is essentially a `SuaveTask.bind`, so it implies that `compose` and `>=>` are defined for SuaveTask<'a> ?

[2018-03-20 17:41] haf commented on #691
It's not uncommon to name a monad that operates on `'a -> OtherMonad<'a>` its own name, at least not in my code bases.

That said, if you have concrete suggestions on how and what to change I wouldn't mind seeing the suggestions.

[2018-03-20 17:50] wallymathieu commented on #691
Sorry for my confusion. Essentially it looks like the code uses the monad `SuaveTask<'a>`. Perhaps it would be helpful to define SuaveTask in the code base in order to split operations on SuaveTask and WebPart ?

[2018-03-20 17:51] wallymathieu commented on #691
But at this point in the life of suave, it's a bit late ... since it's such a breaking change.

[2018-03-20 17:51] wallymathieu commented on #691
So perhaps by adding some comments about it?

[2018-03-21 09:47] haf commented on #691
Suave can continue moving forward; we just bump the major version. But we need to do more than just this for that to make sense.

[2018-03-28 09:05] aaron-comyn commented on #677
Minor issue on an example upgrade: SignalRDemo.netcore.fsproj compiles but fails during execution (''Could not load type 'System.Security.Cryptography.DpapiDataProtector' from assembly 'System.Security'").  AFAIK that class requires the full .NET framework.

AspnetCore.SignalR is in preview now, and seemingly relis on IApplicationBuilder.  Suave.AspNetCore can likely bridge the gap, though I prefe

[2018-03-29 07:08] wallymathieu commented on #691
You also have the `Choice` -> `Result`. Though that one is quite a bit of a major change.

[2018-03-29 07:10] wallymathieu commented on #691
And @ademar mentioned v3 for #486

[2018-03-30 14:22] ammonitus commented on #368
"Ensuring webparts are always evaluated. By default a simple web part e.g. OK (sprintf "%O" DateTime.UtcNow) only gets evaluated initially. How do you force it to always get reevaluated? The answer is out there, but it's not easy to find."

Where is this answer, I've been looking for hours with no luck

[2018-04-02 09:47] wallymathieu opened #693 "Testing story"
## Suave.Testing
I've noticed that using the testing library on NuGet assumes something about how you are testing.

The method:
[code]
creates a http handler on a port and then when you use it together with
[code]
it disposes the `SuaveTestContext`. That implies that you need to a new instance using runWith for each test, i.e. it's singe use. If the test runner decides to run the tests in parallel

[2018-04-02 16:57] MattJOlson commented on #693
I make no claims that my approach is the best way to do it; it worked for me, once, in a fairly limited-scope environment. (But it did work!)

Anyway, depending on what part of the service you're testing, spinning up the full stack might be overkill.

[2018-04-12 18:41] wallymathieu commented on #693
I agree @MattJOlson

[2018-04-22 18:24] #651 closed

[2018-04-22 18:25] #562 closed

[2018-04-23 07:06] haf opened #696 "Suave.Swagger"
https://github.com/SuaveIO/Suave.Swagger

TODO:

 - Ensure compiles with Suave master w/ .net core SDK and the full framework
 - Ensure FAKE script can build packages for both Suave and Swagger
 - Investigate: can the library be used as a shim on top of the Suave functions? Instead of being explicit; can I open a module and have Swagger support?
 - See what, if any, overhead it adds to a request

[2018-04-23 07:07] haf commented on #196
Closing for focus

[2018-04-23 07:09] haf commented on #527
Thank you for your patience. I really appreciate the work you've done.

The docs need to be part of our web site with Suave web site styling for me to point everyone and everything to them. Having a gitbook is nice, but we need to have the branding there, or the docs won't work.

[2018-04-23 08:18] tamizhvendan commented on #696
Hi @haf,

I can take up the third and fifth item
[code]

Can you provide few more details for these?

[2018-04-24 12:18] haf commented on #696
@tamizhvendan What in the Suave programming model would not support it? Do you mean free monads which is unsupported by F# generally? I do like the way Servant does it, but would angle myself for a more compositional API; the Haskell API composes type classes, which indeed makes for few lines of code, but when you want to vary a specific serialisation function, or a specific documentation function

[2018-04-24 12:58] tamizhvendan commented on #696
Yes, @haf I meant Free Monad of interpreting the app declaration and generate documentation out of it like below

[code]

[2018-05-06 06:45] nightroman commented on #655
A not exactly related issue, sorry if you find this off topic.

The latest nuget package 2.4.0 contains *lib\netstandard2.0\_temporary_compressed_files* with four files with some generated names. Are they needed or included excidentally?

[2018-05-06 07:06] nightroman commented on #655
I was playing with the WebSocket example (netstandard2.0) and noticed some unfortunate effects.

I run the example by

    dotnet bin\Debug\netcoreapp2.0\WebSocket.dll

It looks like .NET SDK uses Suave.dll right from the package cache directory, namely from

    ~\.nuget\packages\suave\2.4.0\lib\netstandard2.0

And it looks like Suave `_temporary_compressed_files` is there by default.

As a resul

[2018-05-20 12:04] JacobChang commented on #669
I just write a simple one [here](https://github.com/JacobChang/Suave.Template)

[2018-05-20 12:47] haf commented on #669
+1 a template would be awesome.

[2018-05-21 06:43] JacobChang commented on #669
Do we need to get it into .net core repo? Or we just create a repo under SuaveIO and published to nuget?

[2018-05-21 07:37] haf commented on #669
Sure; transfer it and I'll give you commit access. Will you do the publish as well?

[2018-05-22 20:28] theimowski commented on #669
One does need to explicitly register a template in dotnet. NuGet indexes the packages and registers itself the template by its identifier ([example](https://github.com/SAFE-Stack/SAFE-template/blob/master/Content/.template.config/template.json#L10-L11))

[2018-05-27 09:59] JacobChang commented on #669
@haf Ok, I need commit access or you can just fork my repo, I will start contribute to the new repo

[2018-06-03 21:40] goekboet opened #697 "new project crashes when run"
I'm trying to run a basic suave application with dotnet core but I get an exception.

`mkdir repro && cd repro`
`dotnet new console -lang f#`
`dotnet add package suave`

Edit Program.fs:
[code]

`donet run`

Program crashes. Output:

Output from `dotnet --info`

[2018-06-03 21:45] haf commented on #697
Could you try https://github.com/SuaveIO/Suave.Template#using-the-template ?

[2018-06-03 21:58] goekboet commented on #697
ok. It works with the Suave.Template. Thanks!

[2018-06-04 07:57] #697 closed

[2018-06-07 22:44] mamcx opened #698 "Suave crash on xamarin.android"
This is reported more fully here:

https://stackoverflow.com/questions/50746267/error-image-en-fsharp-core-resources-dll-so-not-found-dlopen-failed-condi

The error is:

`[] * Assertion at /Users/builder/jenkins/workspace/xamarin-android-d15-7/xamarin-android/external/mono/mono/metadata/metadata.c:1117, **condition `idx < t->rows' not met**
`

Is triggered on:

[code]

The same code run on iOS and

[2018-06-09 13:13] ademar opened #699 "Get rid of YOLO and Logary in paket.dependecies"
This practice of including pieces of code from other repositories smell.

https://github.com/SuaveIO/suave/blob/master/paket.dependencies#L16-L17

[2018-06-09 15:55] haf commented on #699
https://github.com/haf/expecto/commit/571239140624c7fc727da63d5de7bbd6b2d9b915 — can do the same here. No need for an API change. Suave is Apache 2.0 full out.

[2018-06-10 19:58] #699 closed

[2018-06-11 16:26] mrkaspa opened #700 "Issuw with suave 2.4.1"
I upgraded the dependency from 2.3.1+beta to 2.4.1 and got this error:

My fsproj:

[code]

/usr/local/share/dotnet/sdk/2.1.4/Microsoft.Common.CurrentVersion.targets(2041,5): warning MSB3277: Found conflicts between different versions of "FSharp.Core" that could not be resolved.  These reference conflicts are listed in the build log when log verbosity is set to detailed. [/Users/mrkaspa/code/fs/FL

[2018-06-20 09:22] haf commented on #700
Could you https://github.com/SuaveIO/Suave.Template/ please?

[2018-06-20 09:22] #700 closed

[2018-06-20 09:23] haf opened #701 "`pathScan` -> uint64 never works"
It's impossible to parse `uint64` from `pathScan`.

[2018-06-20 09:36] #701 closed

[2018-06-20 13:51] tonyx opened #702 "can't parse negatives number in forms"
parse error in forms with decimal.

In Form.fs:

    type MyForm = { Value: decimal }

In View.fs

    { Label = "Data"; Html = formInput (fun f -> <@ f.Value @>) [] }

entering a negative number like "-10" lead in the form lead to
"Cound not parse '-10' to Decimal"

workaround by using string, validate them by regexp, and convert  the string to decimal

[code]

[2018-06-20 16:28] mamcx commented on #698
Maybe, however in stackoverflow say this is a mono bug, that I reported in:

https://github.com/xamarin/xamarin-android/issues/1807

[2018-06-20 16:28] #698 closed

[2018-06-25 00:59] #702 closed

[2018-06-25 03:26] rmunn opened #703 "License link from suave.io site is broken"
The https://suave.io/ site has a license link that points to https://github.com/SuaveIO/suave/blob/master/COPYING, but that file was renamed in https://github.com/SuaveIO/suave/commit/82d365135ec2551ba93495ad121b7e991eb76b7b to be called LICENSE instead of COPYING. The site needs to be updated to have the link point to the correct license location again: https://github.com/SuaveIO/suave/blob/maste

[2018-06-25 13:28] ademar commented on #703
Hi,

Thanks I have already updated the link in 90f83eacf65b0acaa7d5026fb1dc0667663688a6.

Just needs to be pushed to the site. cc @haf

[2018-06-25 13:33] #703 closed

[2018-06-25 13:36] ademar commented on #703
Actually I have just pushed a copy of the licence in COPYING as there might be links all around the net still pointing to it.

[2018-06-26 10:56] haf commented on #703
Ah, will do @ademar

[2018-06-26 21:41] wallymathieu opened #704 "Clarification of licensing?"
Due to [this commit](https://github.com/SAFE-Stack/docs/commit/c430c5b0444f87b18379bf7e57a6f2e9cec56aac) by @isaacabraham there seems to be a need to clarify questions regarding future licenses of Suave.

This seems loosely related to https://github.com/logary/logary/issues/351

[2018-06-26 22:00] isaacabraham commented on #704
@wallymathieu Not really, we (the SAFE team) are pretty comfortable with the decision that's been taken and aren't looking for further clarification.

[2018-06-26 22:09] wallymathieu commented on #704
Other users of Suave (besides the SAFE team) might have questions due to the decision made by the SAFE team. The text in the news.md file :

implies that there are potential issues with the licensing.

If the licensing is not really the issue, perhaps the news.md should reflect that?

[2018-06-26 22:23] isaacabraham commented on #704
Let me rephrase. What we wrote in the news file still reflects our position; we're simply no longer interested in finding out and / or further clarifying those concerns.

[2018-06-27 01:21] ademar commented on #704
**Suave will always be open source and free**. News of the contrary are just FUD promoted by people with an agenda.

You said we need to "clarify questions"; I'll be happy to answer any concrete questions you or others may have.

[2018-06-27 04:50] forki commented on #704
The "agenda" is to provide a stack that can be recommended to people without fear of sudden changes like with logary. This is a trust issue. Unfortunately the logary license discussion did not restore trust.

Personally I think this can be fixed, but calling people "spreading FUD" is not really helping. I really really hope this can be worked out. Again, this is not about the current license.

[2018-06-27 07:38] Krzysztof-Cieslak commented on #704
Yes, _I_ do have an agenda.

_My_ agenda includes creating [licenses ](https://github.com/logary/logary/blob/master/LICENSE.md) that targets huge part of F# userbase without [discussing license change with previous contributors](https://twitter.com/adamchester/status/1005572857496080384), doing it in some [random commit](https://github.com/logary/logary/commit/ae0e026432e265cd39082b1d99f4afa2285f9

[2018-06-27 07:42] Krzysztof-Cieslak commented on #704
And now serious comment - as @forki said - for us it's trust issue and nothing more. OSS is build on trust and reputation - and I just don't trust one of the maintainers of Suave any more - and I think same can be said about other people building SAFE initiative. As far as I'm concerned the license of Suave doesn't matter right now.

[2018-06-27 07:55] wallymathieu commented on #704
Then it's at least clearer to me what has been going on.

[2018-06-27 14:00] ademar commented on #704
I must recognize I also share the concerns voiced here regarding Henrik's actions.

I'll ask you -Besides me personally guaranteeing the license wont ever change (FWTW), what else can the Suave organization do to restore the trust that have been broken?

[2018-06-27 14:13] wallymathieu commented on #704
Sometimes when developers starts to become quite annoyed and behave in prickly ways it can be due to stress. I have no idea if that's the case here. Perhaps sitting down with him for some coffee if you are in Stockholm (or he is in X) and talking about it could help?

[2018-06-27 14:33] varon commented on #704
@ademar It's very hard to restore trust when it's been broken. I'm using Sauve in production, and seriously considered migrating away from it after the SAFE stack announcement.

This looks at best nothing less than giving the middle finger to anyone using these, and at worst a horrible money-grabbing attempt.

So far, the entire experience with the F# community is that all participants, libraries

[2018-06-27 15:58] ademar commented on #704
"An apology, reversion of the logary license changes, and a legally binding written statement that the licenses will always remain free would help restore some level of faith in the project."

@varon You are referring to what Henrik did in his own project which I do not have any control about. I do not own Logary; I can not apologize for what Henrik did in his project.  I do regret what he did. I